[2019-12-06 07:38] taaem opened #5 "Re-Add Docker instructions"
Hello,
The instructions on standardnotes.org, need preconfigured docker-compose and Dockerfiles in the repository, but in this new repo they're not there.

It would be really appreciated, if these instructions and files could be updated/added, so self-hosted servers can be migrated.

Best Regards.

[2019-12-06 22:35] mobitar commented on #5
Development docker integration support has just been added by @mindovermiles262, and I think he has plans for docker-compose support.

[2019-12-06 23:15] mindovermiles262 commented on #5
Yes I am working on docker-compose support for this syncing-server. Updates coming soon

[2019-12-08 22:57] adv4ncr opened #7 "client login failed"
hi guys,
for me some clients do not work with the self hosted server.
- running on ARMv8 architecture - RaspberryPi 3
- [x] working: win10 client, ios app
- [ ] not working: web app, android app

Is it due to missing ssl encryption?

[2019-12-09 19:16] bryvin commented on #7
What URL/IP are you using to try and connect through from the mobile and web app? Just your local IP?

Also which method are you using to start the server; just `rails s` ? If so try this: `rails s -b 0.0.0.0`

[2019-12-09 20:46] mobitar commented on #7
If the web app is behind https://, then any requests it makes must also be behind https://. All browsers enforce this I believe.

So if you're using our official web app, your self-hosted server will require an SSL cert.

[2019-12-09 21:04] adv4ncr commented on #7
Hi, im using the local assigned device ip.
My startup command is `rails server -b=192.168.0.180`
or with ssl `rails server -b 'ssl://192.168.0.180:3000?key=cert/localhost.key&cert=cert/localhost.crt'`
For Win10 and IOS works `http://192.168.0.180:3000/` as sync server domain.
For the browser app `http` works as well with `unsecure sources allowed`.

With `https` and a self signed certificate only

[2019-12-16 09:49] raelb opened #9 "Legal question"
Hello,
If I were to develop a server based on the [Standard Notes Spec](https://docs.standardnotes.org/specification/sync), however not using the ruby implementation, but instead my own implementation in a different language, would that be subject to the same AGPL license?

[2019-12-16 15:50] mobitar commented on #9
I don't see why it would be, if it's your own code..

[2019-12-17 09:14] raelb commented on #9
Ok.

What if I use the current `syncing-server` implementation as a reference or guide to my implementation, such that the end result would not be a direct port of the code to another language, but the logic for certain parts would be borrowed from the ruby implementation?

[2019-12-17 15:13] mobitar commented on #9
I'm honestly not sure. Do you want to make a closed-source server implementation?

[2019-12-17 19:19] raelb commented on #9
Essentially Yes. I like the simplicity and "dumb" nature of the sync server (i.e. it could be used with almost anything) and that it uses  E2EE. I am not familiar with ruby, and would consider creating my own server, perhaps in C#. The main code I would want to "borrow" is the encryption logic, to make sure I am using a correct implementation, and not my own which may have flaws.

[2019-12-17 19:30] mobitar commented on #9
There really is no encryption logic on the backend. It's all handled client side. The server is just dumb storage essentially.

[2019-12-18 08:33] raelb commented on #9
Ok, good point. Thanks I'll close for now.

[2019-12-18 08:33] #9 closed

[2019-12-21 11:31] livingfreely opened #11 "Docker: rails db:migrate step failing"
Hello,

first off, I'm not familiar with ruby or rails.
I tried getting the docker container up and running with docker-compose and also with docker build. I'm facing the issue that the build process fails at Step 10/11 which is `RUN rails db:migrate`. I'm getting the Error `/bin/sh: 1: rails: not found`.
Now I checked the mentioned requirements and installed them. I am on a Debian distribution an

[2019-12-23 07:37] livingfreely commented on #11
I managed to find a workaround now. Replacing the `rails` command in Dockerfile / docker-compose.yml with `./bin/rails` did the trick. I am not sure if this is the intended way though.

[2019-12-23 08:02] livingfreely commented on #7
I'm facing the same issues. I can't connect to the server via webApp or linux app. With the standardfile server is used to work.
- webApp: The webApp shows an error without even making a request. When I use the `unsecure`flag like @adv4ncr I am able to log in
- for android app I might have some insights: On android 9, there are by default no unsecure sources allowed anymore. So to make this possib

[2020-01-02 12:53] joekerna commented on #11
I can confirm the issue and the workaround above

[2020-01-02 15:16] mobitar commented on #11
cc @mindovermiles262

[2020-01-02 15:46] mindovermiles262 commented on #11
I’ll take a look at this today. Thanks for pinning me

[2020-01-03 15:15] johnny243 commented on #11
Since the gems are installed with bundler with `bundle install`, the `rails` command will not be available. We should use `bundle exec rails` instead.

If for some reason one would still need the `rails` command, run `gem install rails` within the `Dockerfile` and the `rails` command will be available for use.

[2020-01-03 16:43] livingfreely commented on #11
Great work @johnny243 it seems you have good knowledge about this topic. Thank you

[2020-01-08 22:04] #11 closed

[2020-01-10 20:41] iganeshk opened #13 "Yarn executable was not detected in the system"
Trying to setup StandardNotes with docker platform following the instructions form https://docs.standardnotes.org/self-hosting/self-hosting-with-docker

While attempting to execute the app by running
`$ docker-compose exec app bundle exec rake assets:precompile`

I get
[code]
Host system has yarn but I'm unaware of the docker build.

-------
OS: Debian 10
Docker: Docker version 19.03.5, build 633a

[2020-01-13 20:45] johnny243 commented on #13
Hi @iganeshk, sorry you are having this issue. Could you please try this guide instead? https://github.com/standardnotes/syncing-server#docker-compose

[2020-01-14 01:49] dslovin opened #14 "Serverless container?"
I would love to run this in a serverless fashion. I tried building the docker container without the DB, and it doesn't work so well. Have you considered creating putting a container on docker hub that just needs the DB information as environment variables?

[2020-01-16 15:55] iganeshk commented on #13
Hey @johnny243! So I was able to get it up and running. I do happen to have one issue, I followed https://github.com/standardfile/ruby-server/issues/74 to disable new registration, it worked fine upon restarting with passenger-config. What would be the best way to restart/reload on docker container?

I tried `docker-compose up -d --no-deps --build app` after stopping the app, but no avail.

[2020-01-16 17:12] iganeshk commented on #13
Figured it out for now by build it with no-cache
`docker-compose build --no-cache app`

[2020-01-16 17:12] #13 closed

[2020-01-21 19:50] r3v1 opened #15 "bcrypt 3.1.13 installation error"
I'm running Arch Linux server on Raspberry Pi 3 and ``bundle install`` fails when installing ``bcrypt 3.1.13``, as reported [here](https://github.com/codahale/bcrypt-ruby/pull/204#issuecomment-505022913). I overcome this by editing [this](https://github.com/standardnotes/syncing-server/blob/d0a38d2b57ec03bda0593446aac98a1d20369386/Gemfile.lock#L77) line and setting version to `3.1.12`.

Finally, r

[2020-01-22 21:13] arshad115 opened #16 "Can't deploy to heroku because of sqlite3 gem"
Can't deploy to heroku. I get the following error:
[code]

[2020-01-27 17:05] gordon-shumway-net opened #18 "IPv6 Support on hosted syncing-server"
Hey together,
I hope this is the right repository for my question.
It seems that the hosted syncing-server sync.standardnotes.org on AWS is not support IPv6.
Is there any plan to support that in the future? :)

[2020-01-27 17:13] mobitar commented on #18
Not something we have definite plans for currently, but perhaps something we'll explore at a later point.

[2020-01-27 17:22] gordon-shumway-net commented on #18
Okay, thank you for your answer @mobitar , would be great to see that in the future!

[2020-01-27 17:26] #18 closed

[2020-01-29 16:32] mobitar commented on #16
Fixed via https://github.com/standardnotes/syncing-server/pull/19

[2020-01-29 16:32] #16 closed

[2020-01-30 14:11] joekerna opened #20 "docker-compose MySQL error"
I'm trying to run the server using `docker-compose`

My .env file is:

  2 # Copy this file and update as needed.
  3 #
  4 #   $ cp env.sample .env
  5 #
  6 # Do not include this new file in source control
  7 #
  8
  9 # Rails Settings
 10 EXPOSED_PORT=3000
 11 SECRET_KEY_BASE=changeme123
 12 RAILS_ENV=development
 13 #SQS_QUEUE=somequeue
 14 #AWS_REGION=us-west1
 15
 16 # Database Settings
 17

[2020-01-31 07:30] joekerna commented on #20
#21 does not fix the issue for me. The Error remains

Is

correct when using docker-compose?

Lines 18/19 are still confusing to me in .env

[2020-01-31 07:32] johnny243 commented on #20
@joekerna please use `DB_HOST=db` and then run `docker-compose up -d`

[2020-01-31 07:37] joekerna commented on #20
Thanks,
Then I get

I did replace

with passwords of my choice. That's correct, right?

[2020-01-31 07:49] johnny243 commented on #20
That's correct.

If the issue persists, try removing the `std_notes_db` volume using the following command (assuming this is a new installation):

[code]

And then run `docker-compose up -d`

[2020-01-31 07:54] joekerna commented on #20
Awesome! It's working now!
Thanks a lot!

[2020-01-31 07:54] #20 closed

[2020-01-31 08:47] joekerna opened #22 "/var/lib/mysql does not exist"
I've successfully set up the syncing-server using `docker-compose`

The README states that the database will be written to `/var/lib/mysql`.

That directory does not exist on my server?!

`docker-compose.yml` is unchanged as

 23       - std_notes_db:/var/lib/mysql

[2020-01-31 13:39] johnny243 commented on #22
It's most likely that you are looking at the wrong container :)

Please use: `docker ps` to get your `mysql` Container ID and then run `docker exec -it "<CONTAINER ID>" /bin/bash` to get an interactive shell. If you list `/var/lib/mysql`, it should be there.

[2020-01-31 13:45] joekerna commented on #22
oh ok.. Thanks!
I though

means that it's stored outside the container.

If I backup that folder and restore it later, will all my users' notes be restored?

[2020-01-31 15:43] johnny243 commented on #22
Yeah, the statement seems to be somewhat confusing. We'll correct this. :)

As for the backup, you can do a full backup of `/var/lib/mysql` or use `mysqldump` to dump either option works.

[2020-01-31 18:46] joekerna commented on #22
Great, thanks!
I'm now using:
[code]

It generates the MySQL dump. I'll try a test restore soon.

[2020-01-31 18:46] #22 closed

[2020-02-04 22:20] pageb018 opened #23 "Best way to upgrade selfhost from ruby-server?"
I am still using the "ruby-server" implementation of the Standard Notes server. Should I upgrade to the new "syncing-server" and if so, what is the best way to do this without losing notes.

[2020-02-05 08:31] DanielAndreasen opened #24 "Using docker to host on my home-server"
Thanks for this interesting tool.
I'm trying to get this to run on my old laptop, which I use as a homeserver. I follow the instructions in the README:

[code]

Currently I'm at work, and can't easily reach my local network, however I ssh'ed into the server to run these commands, and when I do: `$ wget 192.168.0.100:3000`
I get the html below:

[code]

Am I doing something wrong here? I'm also new

[2020-02-05 15:02] joshcsullivan opened #25 "Docker-Compose App Unreachable"
I'm running the Standard Notes docker-compose build on DigitalOcean Ubuntu 18.04, I've allowed the exposed port through the firewall but cannot reach the site that says to go to the app or website.

On the server, if I run wget http://localhost:Exposed_Port it says failed: Connection refused.

When I ran docker-compose ps, it alternates between:

[code]

And:

[code]

The db never shows restarting

[2020-02-05 15:09] joshcsullivan commented on #25
My own stupidity, forgot to comment out the orig DB_HOST line.

[2020-02-05 15:09] #25 closed

[2020-02-05 15:47] bryvin commented on #24
This is actually correct and what you are meant to see. This typically means the app is started and running correctly.

You can see the same for Standard Note's hosted sync server here: https://sync.standardnotes.org/

[2020-02-05 18:28] DanielAndreasen commented on #24
Alright, I guess I'm on the right path. If I want to host this entirely by myself, would I have to host the web component as well?

[2020-02-05 19:00] bryvin commented on #24
Technically no. On the account sign in pop up you can click "Advanced Options" and change the "Sync Server Domain" but you would have to do that every time you signed in to your account.

I would also not suggest going that route as if we release any changes to the App, UI or structure of the syncing API you could be out of luck. So to keep everything together and on the same versioning I would su

[2020-02-05 19:14] DanielAndreasen commented on #24
Okay, thanks for all your help :)

[2020-02-05 19:14] #24 closed

[2020-02-05 23:02] joshcsullivan opened #26 "Note History and Daily Email Backup"
Today I set up the syncing server via docker-compose on a DigitalOcean VPS. Imported notes and syncing is working fantastic.

I do have a couple questions:

1. Note History - I can see the Session History of a note, but when I check the Note History Action Menu, it says there are no actions available, but the Note History Cloud link is installed. Does Note history not work on the syncing server?
2

[2020-02-06 10:51] aashish108 opened #27 "Installing on Pi Not Working"
Hello! I have been playing around with setting up Standard Notes and, maybe, paying for it for the extensions if it worked out. As the moile/desktop apps look great!

I have been trying to setup this via Docker Compose on my Pi but its not working. From the looks of things, it appears something in there isn't designed for ARM processors. Any guidance on how to resolve this issue, if possible pls?

[2020-02-06 15:55] mobitar commented on #23
Updating is recommended, as you will no longer receive updates on the existing server. You shouldn't lose any notes. It should essentially involve just swapping out the ruby-server folder with the syncing-server folder, and it should work out of the box. But obviously first set it up side-by-side before making any destructive changes.

[2020-02-06 15:59] mobitar commented on #26
Note History is handled by a separate server that is non-self hostable, at least for now (too tightly coupled with other infrastructure). Email backups should work, but you'd have to have:

1. A job queue service
2. Proper SMTP settings configured

I believe you can modify the Rails job adapter to be in-memory, but I haven't done that in a while so you'll have to do some research there.

[2020-02-06 17:36] aashish108 opened #28 "DB Errors when Running docker-compose"
Hi! When running docker-compose on my Synology, I get this error, would you know why this is occuring pls? Searched the net but not really sure :/

[code]

[2020-02-06 22:21] johnny243 commented on #27
Hey there @aashish108!

We haven't deployed the `syncing-server` on a Raspberry Pi, but we can definetly take a look at it :)

What error messages are you getting when setting this up?

[2020-02-06 22:41] johnny243 commented on #28
Hey @aashish108, what is your OS version?

Also, what are your machine specs?

[2020-02-07 07:48] aashish108 commented on #27
Hey there! I'm getting a message saying exec errors (can't remember 100%) - I researched it myself and its cos somethings not built for ARM CPUS but only X86.

[2020-02-07 07:54] aashish108 commented on #28
Hey, its a Synology DiskStation 916+. 8GB RAM, Intel Pentium N3710 quad-core 1.6GHz, burst up to 2.56GHz. THe rest of the specs are here: https://global.download.synology.com/download/Document/Hardware/DataSheet/DiskStation/16-year/DS916+/enu/Synology_DS916_Plus_Data_Sheet_enu.pdf

I couldn't get it to work on my Pi 4+, but that's another thread :)

Cheers!

[2020-02-07 13:50] joshcsullivan commented on #26
Thanks, @mobitar

For now I'll stick with your sync solution then.

[2020-02-07 13:50] #26 closed

[2020-02-08 15:52] johnny243 commented on #28
Did you set `DB_HOST` to `db` in your `.env` file?

Try clearing your DB volume for a fresh start:

`docker volume rm syncingserver_std_notes_db`

[2020-02-09 16:06] Jungack opened #29 "Can't register using domain name, working locally"
Hello,

I have problems setting up Standard Notes Syncing-Server. I am running Debian 10. Using a self-hosted web client, I am able to connect to my Syncing-Server using http://127.0.0.1:3000 (3000 being the port where is running the syncing-server when issuing `rails s -b=0.0.0.0 -p 3000`), but I can neither access It with http://domain.com nor https://domain.com. Trying to connect on [https://ap

[2020-02-10 12:06] Jungack commented on #29
Ok I have found that `rails assets:precompile` creates an `assets` EMPTY folder in `./syncing-server/public`. I am just following your tutorial on https://docs.standardnotes.org/self-hosting/ec2-nginx, without the command `bower install`.
Why is there anything when running `rails assets:precompile`? Issuing this command for the web client works like a charm, is it a bug in the syncing-server?

[2020-02-10 13:45] johnny243 commented on #29
Hey @Jungack, the message `Hi! You're not supposed to be here.` indicates that the server is ready to be used. You can now begin [using your new server](https://docs.standardnotes.org/self-hosting/ec2-nginx#using-your-new-server).

[2020-02-10 13:56] Jungack commented on #29
Thanks for reply ! As I have said, I can't register, neither using the self hosted web client, nor the online one on the official site : It is written that the server is unreachable. At least I think there is a problem with the command `rails assets:precompile` as I have said before.

[2020-02-10 15:30] johnny243 commented on #29
The `rails assets:precompile` command compiles the assets and places the same in the `/assets` directory. The `syncing-server` is an API-based application, thus this is not important to function properly, it is just mentioned in the docs as a usual deployment step.

What is the content of your `.env` file (skip sensitive information)?

[2020-02-10 15:52] Jungack commented on #29
Hello,
I just managed to make It work thank you ! In fact, I had some problems with the `.env` file you are right ! The page "You are not supposed to be here" still have an ugly layout, but there is not errors in log anymore !
The problem was that I misconfigured the MySQL database : there was permission problems with the user that I dedicated for standard notes. But thank you anyway !

[2020-02-10 15:52] #29 closed

[2020-02-26 20:06] johnny243 commented on #27
@aashish108, we recently added support for [Raspberry Pi](https://github.com/standardnotes/syncing-server#raspberry-pi). Please try it out when you get a change and let me know :)

[2020-03-02 23:00] yingw787 opened #38 "[Feature Suggestion] Cold Storage"
Hey @mobitar,

I had a feature suggestion (sadly no pull request though) for the syncing server; would a cold storage option be in the cards in the near future? I have around 750 notes, and it takes a little while in order to sync everything. Most of the notes I archive successfully, but the archive remains synced, and I don't fetch notes from the archive often. It'd be really cool if after 30 day

[2020-03-03 17:40] mobitar commented on #38
Hmm..I'm not sure I follow what you mean. Notes that are untouched do not go back and forth between the server. The initial loading that occurs when you open the app is all local, and happens on your device.

The only time you'd deal with the server for _all_ your notes would be when you first sign in.

[2020-03-03 18:40] yingw787 commented on #38
At least on iOS, after I open the app and punch in the optional passcode, I see the message "Syncing {100, 200, 300}/750", and then after "Syncing 700/750" it says "Syncing". I checked my desktop application, and I think it might be a unique behavior to iOS since I don't see that exact same message. If in the case on iOS that initial loading is taking place from local persist, could we have the op

[2020-03-03 18:41] mobitar commented on #38
You sure it says "Syncing 100/750" and not "Decrypting 100/750"?

[2020-03-03 19:02] yingw787 commented on #38
It might be "decrypting", actually. I don't have my phone on me at the moment, but I wouldn't be at all surprised if decrypting notes kept on local persist would incur a performance overhead. I just didn't want to wait for that period of time and was brainstorming ideas of how it might go faster. I'll go ahead and close this issue.

[2020-03-03 19:02] #38 closed

[2020-03-03 19:03] mobitar commented on #38
If you disable Device Storage Encryption from the settings (not recommended; but up to you), you'll see a speed-up here.

[2020-03-03 20:44] aashish108 commented on #27
Thanks @johnny243 !I will take a look ;)

[2020-03-05 19:16] aashish108 commented on #27
I had a look @johnny243 and I am getting DB errors :(

So its not a simple docker-compose up. I tried to work with it but became a little unsure of a few things. I then tried to create my own compose file but no progress.

Thanks!

[code]

[2020-03-06 02:20] johnny243 commented on #27
Could you please run `docker ps` and paste the output here?

[2020-03-06 21:02] aashish108 commented on #27
Here it is @johnny243, note that I have other containers running:

[code]

Thanks.

[2020-03-07 02:54] johnny243 commented on #27
:thinking: It seems that the app container is restarting because it can not establish a connection with the database container. Let's try and run everything from scratch. Please execute the following commands:

1. Stop Standard Notes related containers (used Container IDs from above output):
[code]
2. Remove the containers:
[code]
3. Remove the database volume:
[code]
4. Update your local copy of

[2020-03-18 22:10] yetdog commented on #27
Something is up with this compose file or the .env file. I have followed the directions perfectly and am seeing the same thing. Access denied for user 'std_notes_user'@'172.25.0.3' (using password: YES). Cleaned, started from scratch, etc.

[2020-03-18 22:28] JaspalSuri commented on #27
I'm sorry to hear that! I've passed on this info to the team for review.

[2020-03-18 22:38] yetdog commented on #27
So apparently I didn't change DB_HOST to = db. I didn't see that in the doc anywhere so not sure where I was supposed to find it during install.

[2020-03-18 22:40] yetdog opened #40 "Cannot connect to hostname, IP works (HTTP)"
When trying to connect to a hostname, I get "Oops, a server error occurred when trying to sign in. Please try again." When I switch to the IP address that that hostname resolves to, sign in works.

Now, I would prefer to use HTTPS, but currently I'm attempting this over HTTP as I'm unclear about how to get an SSL certificate installed in the docker container.

This is leveraging the MacOS app as w

[2020-03-18 23:01] johnny243 commented on #27
That's strange, the [docker-compose.yml](https://github.com/standardnotes/syncing-server/blob/232a45a2f8b4f30a3666ae0d292a23bbd0bc5736/docker-compose.yml#L11) file should set  `DB_HOST` to `db` for you. I'll have a look just in case!

Thanks for reporting! :smiley:

[2020-03-18 23:22] johnny243 commented on #40
I would first check if the hostname is in fact resolving to the IP address:

`nslookup <your-hostname>`

You could manually edit your `/etc/hosts` file (on the host where you want to resolve the hostname) and specify it there.

[2020-03-19 01:00] yetdog commented on #40
Thanks for the response. Confirmed resolution. Does hostname-based access require https perhaps?

On Mar 18, 2020, at 4:23 PM, Johnny Almonte <notifications@github.com> wrote:

﻿

I would first check if the hostname is in fact resolving to the IP address:

nslookup <your-hostname>

You could manually edit your /etc/hosts file (on the host where you want to resolve the hostname) and specify it ther

[2020-03-19 01:19] johnny243 commented on #40
I don't think so, it should connect via http just fine.

May I know which port did you choose for the `syncing-server`?

[2020-03-19 01:33] yetdog commented on #40
3000.

On Mar 18, 2020, at 6:20 PM, Johnny Almonte <notifications@github.com> wrote:

﻿

Thanks for the response. Confirmed resolution. Does hostname-based access require https perhaps?

I don't think so, it should connect via http just fine.

May I know which port did you choose for the syncing-server?

—
You are receiving this because you authored the thread.
Reply to this email directly, view i

[2020-03-19 01:42] johnny243 commented on #40
Then you should be able to see the default page when you access it. Example:

![image](https://user-images.githubusercontent.com/5891646/77022696-b6a0f480-6960-11ea-9970-a3ee2454b280.png)

Then in the Standard Notes app:

![image](https://user-images.githubusercontent.com/5891646/77022921-34650000-6961-11ea-9afa-ba1609bd5cc5.png)

![image](https://user-images.githubusercontent.com/5891646/77022964

[2020-03-19 02:00] yetdog commented on #40
Yep - works just fine pulling up the "Not supposed to be here" in a web browser. Simply can not sign in with iOS whatsoever. And logs...yeah. Docker *rules*

[2020-03-19 02:08] yetdog commented on #40
Ok folks - problem identified but not solved. In iOS, you can *not* connect without HTTPS. Here are the logs from the app itself, pulled from my device:

""The resource could not be loaded because the App Transport Security policy requires the use of a secure connection.""

[2020-03-19 02:09] yetdog commented on #40
I can open another issue on how to properly frontend this thing with https. Or would it just be a frontend nginx/letsencrypt box with its backend pointed at this system on port 3000?

[2020-03-19 02:50] johnny243 commented on #40
Sorry, I missed that you were using the iOS app, in which case it will not connect using a domain/subdomain unless it is HTTPS enabled.

You either connect to it using the IP address or setup HTTPS on your `syncing-server`.

You could setup a reverse proxy with `nginx` with HTTPS.

[2020-03-20 16:54] rklasen commented on #28
Hi, I was having the same issue, and I think it's related to #27 and possibly other issues where the databse connection was the problem. *It can be fixed by removing comments from the env file on lines also containing config info.*

It seems the database root user is created with *no password* when there is a comment after the password in the `.env` file, which is the case in the default example:

[2020-03-20 17:03] rklasen opened #41 "Also populate `#SECRET_KEY_BASE=` in env example"
While setting up a test server, I ran into issues #27 and #28. After fixing them, the app still wouldn't load as the `secret_key_base` variable wasn't populated. Easily fixed, but I think it would help if it were in the example env file.

[2020-03-20 17:13] #41 closed

[2020-03-20 20:20] #23 closed

[2020-03-20 20:21] #5 closed

[2020-03-20 20:23] johnny243 commented on #28
Thanks for reporting!

[2020-03-20 20:23] #28 closed

[2020-03-20 20:23] #15 closed

[2020-03-31 21:00] 8cjx7 opened #46 "CloudLink extension doesn't work well"
Hi,

I got problems with CloudLink extension and after several emails with your support team, they suggest opening an issue here. Since this is the first issue I submit in GitHub, please feel free to let me know if I miss anything.

Here is the whole thing:

1. I run a syncing-server on AWS LightSail and install CloudLink extension on macOs app according to https://docs.standardnotes.org/self-host

[2020-04-01 16:24] mobitar commented on #46
Regarding scheduled backups, these are handled through cronjobs, which should automatically be set up if you deployed via capistrano. This is done transparently through the `whenever` gem in tandem with its capistrano plugin: https://github.com/standardnotes/syncing-server/blob/7de32981dba1b2791d31cf3c5e16ed7b531d96e2/Capfile#L12

If you're not using `cap production deploy`, then you'd have to man

[2020-04-01 19:50] git-noise opened #47 "Administration-Remove User"
Hello,
I am not too sure if this is the right place, so please feel free to point me somewhere else.
I have installed the sync-server following your documentation, but could not find anywhere if any administration features where available.
As an example, how would one remove an existing user? I found traces of some admin controller in the repo code, and wanted to know if it was possible to get a b

[2020-04-01 22:06] johnny243 commented on #47
Hello @git-noise,

You can use the `delete_account` method to delete any accounts present it your syncing-server. But before you can use it, you must authenticate your request.

Currently, the request is authenticated by checking your IP address against a list of Administrator IPs. You can define this in the `ADMIN_IPS` environment variable. Next, you need to pass an "admin key" along with your re

[2020-04-02 04:36] 8cjx7 commented on #46
@mobitar thanks for you reply. If I use ```cap production deploy```, do I have to have a ```cap.yml``` file? If yes, could you please give me a sample file for syncing-server? I found a ```cap.example.yml``` but I can't make it work. Thanks.

[2020-04-02 14:06] mobitar commented on #46
Yes the cap.example.yml should do it. What doesn't work in particular? Also `crontab -e` is a Linux command and not a Ruby command, so you would enter it in the main console and not in the the Ruby interpreter (I'm not sure if that's your issue, but based on the output that's my guess).

[2020-04-02 14:53] 8cjx7 commented on #46
Thanks.
I don't know about the cap. So I just copy ```cap.example.yml``` to ```cap.yml``` and I'd like to deploy on the server locally. If I run ```cap production deploy```, I got error:
[code]
Then I run ```bundle exec cap production deploy```, I got error:
[code]
Here is my ```cap.yml```:
[code]

For the manually method (crontab), before I create a crontab command, I run the command in the termi

[2020-04-02 15:17] mobitar commented on #46
You'll need Ruby 2.6.5 on your server. Or you can comment out this line and try again: https://github.com/standardnotes/syncing-server/blob/master/config/deploy.rb#L38

[2020-04-02 15:36] 8cjx7 commented on #46
Thanks.
After I comment the line, I run ```bundle exec cap production deploy --trace```, I got this error:
[code]

[2020-04-02 15:54] 8cjx7 commented on #46
Hi, thanks.
It turned out I didn't have rvm. After installing rvm, I run the deploy command and I got an error:
[code]
Isn't the .env file created automatically?

[2020-04-03 03:17] git-noise commented on #47
Hello @johnny243,

Many thanks for the answer, it works perfectly!
The code is actually pretty clear and I should have figured it out by myself, but may I suggest you maybe add a quick note on the self-hosted documentation?

Have a good one,

Best,

[2020-04-03 03:17] #47 closed

[2020-04-03 17:29] mobitar commented on #46
You'll need dependencies close to what we have here: https://docs.standardnotes.org/self-hosting/ec2-nginx

And right, on your remote server, you'll need to create a .env file in ~/standard-notes-prod-server/shared/.env where you put your production values. These values should not be the same as what you have in your local file.

[2020-04-03 23:01] 8cjx7 commented on #46
Thanks @mobitar
I've read the link you wrote but it doesn't cover the CloudLink Extension setup.

Back to this issue, after create ```.env``` file on the server side, then I run the deploy command ```bundle exec cap production deploy```, I got this error:
[code]
I think I must miss some setups on the server side before I run the deploy command. Do you have any idea please?

[2020-04-06 16:35] mobitar commented on #46
This issue is a tricky one. It happens sometimes and I haven't found a good solution. The only thing that has worked for me before is restarting the instance. You can also ssh into the server and see the difference between running `rvmsudo passenger-status` and just bare `passenger-status`.

[2020-04-08 19:13] danofun opened #48 "Docker Hub image"
I originally posted this on r/StandardNotes where u/sn-jaspal requested I create this enhancement request.

Your Dockerfile is a ready to build. Is there a reason you are not utilizing Docker Hub to auto-compile, build, host, and easily distribute your image? I believe this is ultimately the same request [dslovin](https://github.com/dslovin) is making in issue #14

[Here](https://docs.docker.com/d

[2020-05-18 09:21] jonhadfield opened #49 "An item without a content and content-type"
Using my API I seem to have accidentally created an item both without content and without a content type. As you can see by the timestamps this is from last September, so maybe a lack of input validation that's since been fixed?

    (gosn.DecryptedItem) {
     UUID: (string) (len=36) "5f4f0b99-ea6b-4a8d-982e-88ca87dd7932",
     Content: (string) "",
     ContentType: (string) "",
     Deleted: (b

[2020-05-18 14:17] jonhadfield commented on #49
As raised on the Slack #help channel, I've got a different error:
![image](https://user-images.githubusercontent.com/843944/82223186-40961b00-991a-11ea-99e6-f09d7ff71655.png)
In the console it shows:
[code]
What may be related is the following content that includes references to items with both missing uuids and content types:

[code]

Comment from @mobitar on Slack:

[2020-05-18 15:01] jonhadfield commented on #49
I deleted the following and the issue is now syncing completes without any errors.
[code]
If I create a new tag I notice that it will always have a reference to a note. Is it possible your code is not handling tags with null references?
Here's a new tag I created to give an example:
[code]

[2020-05-18 16:45] mobitar commented on #49
Correct, references should never be null. Should be empty array instead.

[2020-05-18 16:55] mobitar commented on #49
I believe however we will have safer handling here in v3.5, but in the meantime the correct way to go is empty arrays.

[2020-05-18 18:18] jonhadfield commented on #49
Will do. Thanks.

[2020-05-18 18:18] #49 closed

[2020-05-28 09:10] karolsojko opened #53 "Reimplement Failing test"
One test is failing on a fresh local filesystem setup and CI. It was marked as skipped in this PR https://github.com/standardnotes/syncing-server/pull/52 and should be reimplemented in a different fashion.

Error output from the test run:

[code]

cc @johnny243

[2020-05-28 10:27] KouroshMaheri opened #54 "Reverts back to the default server address-Wrong Credentials"
I try to add the IMAP note accounts (similar to Apple notes) to the app. The server is Namecheap Private Email (powered by Open-Xchange). https://mail.privateemail.com

But the issue is that on the Standard note app, I can not save the server, and each time it reverts back to the default one. Another issue is I cannot log in to the server at all. It notifies me of the wrong credentials.

[2020-05-28 15:23] karolsojko commented on #48
Our docker images are now published automatically and can be retrieved from Docker Hub: https://hub.docker.com/repository/docker/standardnotes/syncing-server/general

[2020-05-28 15:23] #48 closed

[2020-05-28 15:24] karolsojko commented on #14
Our docker images are now published automatically and can be retrieved from Docker Hub: https://hub.docker.com/repository/docker/standardnotes/syncing-server/general

[2020-05-28 15:24] #14 closed

[2020-05-28 18:01] johnny243 commented on #53
The test is failing because the `tmp` directory does not exists. Said directory is created automatically when the `rails` server is started.

https://github.com/standardnotes/syncing-server/blob/857d79abc9b8493b81ae3b99161e1d5256ec753e/app/models/user.rb#L37

[2020-05-28 19:06] johnny243 commented on #54
Hi @KouroshMaheri, thanks for reaching out!

Could you clarify me what is the "IMAP note accounts" for?

Is it that you are using your own `syncing-server` instance and can not use it?

Thanks!

[2020-05-28 22:46] KouroshMaheri commented on #54
Hi, and thanks for your reply. I mean Notes in an IMAP folder the way that Apple uses notes on iOS and Apple devices. I try to use an Open-Xchange server. There is another app for Android for this "Kolab" but it also does not work well.

[2020-05-28 23:59] johnny243 commented on #54
Got you :ok_hand:

Standard Notes app can only be used with the `syncing-server` (or any other implementation that supports our encryption protocols).

If you prefer, you have the option of deploying your own server. See the [self hosting page](https://docs.standardnotes.org/self-hosting/getting-started) to get started.

Let me know if you need anything else, thanks!

[2020-05-29 11:32] KouroshMaheri commented on #54
Thanks for the clarifications.
Best,

Kourosh

[2020-05-29 13:30] #54 closed

[2020-05-29 22:02] #53 closed

[2020-06-12 00:30] benwalio opened #62 "error on nokogiri install"
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.5.0/gems/nokogiri-1.10.9/ext/nokogiri
/usr/bin/ruby2.5 -r ./siteconf20200612-13184-15dwlpy.rb extconf.rb
mkmf.rb can't find header files for ruby at /usr/lib/ruby/include/ruby.h

extconf failed, exit code 1

Gem files will remain installed in /var/lib/gems/2.5.0/gems/nokogiri-1.10.9 for inspe

[2020-06-12 01:51] JaspalSuri commented on #62
Hi, I'm sorry that the gem won't install. What error message do your receive when trying what was suggested above? For `gem install nokogiri -v '1.10.9' --source 'https://rubygems.org/' ` - assuming that wasn't the command that you had just entered.

I've assigned this thread to our backend devs to look into.

[2020-06-12 02:10] johnny243 commented on #62
Hi @benwalio!

Can you please answer the following?

- OS version?
- Are you using RVM?
- Ruby version? (run `ruby --version`)
- Bundler version? (run `bundler --version`)

Thanks

[2020-06-27 06:12] ciprianproton opened #66 "Folders component is not working and there are no errors in console"
Hi there,

I'm trying to add folders extensions (what I will say has same results with autocomplete tags and no distraction as well) and adding it works as expected.

My NGINX code is:
[code]
(tried with CORS and X-Frame-Options as well)

My json file is:
[code]

The content of /opt/notes_web/public/extensions/folders-component is same as: https://github.com/standardnotes/folders-component

I can

[2020-06-27 06:13] JaspalSuri commented on #66
IIRC, this this has to do with self-hosting, so I've moved the thread there.

[2020-07-01 07:03] joekerna opened #68 "App not working after restart - docker-compose"
I've successfully started the syncing server using `docker-compose up -d`.

After a reboot the docker image `syncing-server_app` keeps restarting

Only a manual stop using `docker-compose down` followed by a restart `docker-compose up -d` will start the app again

[2020-07-01 14:37] karolsojko commented on #68
@joekerna can you update to latest `develop` branch and check if it works now? Please remember to rebuild the image with `docker-compose build` before starting the server

[2020-07-01 18:10] joekerna commented on #68
Awesome! Thank you,

it's working now

[2020-07-01 18:52] joekerna commented on #68
However I can't login to this server using the Mac App and the Android App anymore. I get

[2020-07-02 08:49] baptiste-grob commented on #68
This happens if you've upgraded the encryption of your account to our newer (in development) protocol, of if you registered on a new version of the client, in which case you're automatically on the new account type.
What client did you create your account from?

[2020-07-02 09:18] joekerna commented on #68
I've registered with an older version a couple of months back.

Does the new development syncing server not work with the released clients (Mac/Android)?

[2020-07-02 09:37] karolsojko commented on #68
@joekerna we're working on a new version in the `develop` branch - please use the stable `master` branch if you want to reffer to the code that's in production (compatible with the released clients).

As this issue does not relate any longer to docker-compose can we close it ?

[2020-07-02 09:39] joekerna commented on #68
Alright. I'll go back to the `master` branch and live with the reboot issue for now knowing that it'll be fixed eventually.

Thanks!

[2020-07-02 09:39] #68 closed

[2020-07-02 09:57] joekerna commented on #68
But now even with the `master` branch syncing server I can't log any more using the Android App

[2020-07-02 12:40] mobitar commented on #68
@joekerna looking at your database, can you check what your `user.version` field is equal to?

[2020-07-02 12:47] mobitar commented on #68
Also when you said "it's working now", which client was that with? Are there certain clients that allow you to login but others that don't?

[2020-07-02 12:49] joekerna commented on #68
With that I meant that I can reboot the server and the app will restart without a loop. I hadn't tried to actually log into the app.
I just checked the

message

[2020-07-02 12:50] mobitar commented on #68
What about your user.version, can you check what it is?

[2020-07-02 18:30] joekerna commented on #68
Where can I find that? I've searched my MySQL Dump but can't find it.

[2020-07-02 21:15] johnny243 commented on #68
You can execute the following query in your database:

[code]

---

Also, you can use the `rails console`:

`User.find_by_email('your-email-address')` will return the user with all fields, including the `version`.

[2020-07-03 19:08] joekerna commented on #68
I'm sorry, I had to revert back to the `master` branch to be able to login again.
I guess there is no use in doing it on this version, is there?!

[2020-07-05 03:33] iGlitch commented on #62
if your os is ubuntu i ran this:
[code]

then was able to proceed with bundle install.

[2020-07-09 05:06] JaspalSuri commented on #48
Hey Dan, I just came across this again and wanted to apologize for letting it slip through the cracks! I hope that everything is working as expected. Please let us know if you have any questions.

[2020-07-16 17:47] yozamacs opened #74 "unable to connect to self hosted backend"
My syncing server repo is on the master branch but I'm still getting an error about version mismatch. Not sure what else I can do to get it to work.

[2020-07-17 13:23] mobitar commented on #68
So the error "This version of the application does not support your newer account type. Please upgrade to the latest version of Standard Notes to sign in." occurs if you try to sign in **to an account that does not exist** on a v3.3.x client using the develop branch of the syncing server. The reason is, in general, when you try to sign in to an account that doesn't exist, the server will not tell

[2020-07-17 13:28] mobitar commented on #74
How did you deploy your server? Docker? And when was your account created? Please see here: https://github.com/standardnotes/syncing-server/issues/68#issuecomment-660105167

[2020-07-17 19:41] yozamacs commented on #74
I deployed my server with docker following the exact instruction [here](https://docs.standardnotes.org/self-hosting/docker). And then when I heard that the develop branch was the incorrect branch, I checked out the master branch and restarted my docker containers. Not sure what else I can do. I did use an account that was already created, but this was all last week, the account creation and the se

[2020-07-18 15:26] johnny243 commented on #74
You will need to re-create your database, because it still has `004` data and schema. In your case it's fine to re-create your database because you are starting out with the `syncing-server`:

1. Stop both `app` and `db` containers:
[code]
1. Remove both `app` and `db` containers:
[code]
1. Remove the `syncing-server_std_notes_db` volume:
[code]
1. Finally, run `docker-compose up -d` to rebuild co

[2020-07-18 17:52] yozamacs commented on #74
I did all of that and I'm still getting the same error. Do I need to delete the data directory in the syncing server repo as well?

[2020-07-18 23:36] johnny243 commented on #74
The `data` directory is used in the [docker-compose.yml](https://github.com/standardnotes/syncing-server/blob/55a22251ddc3890275af150513aee759441b9885/docker-compose.yml#L30) file from the `develop` branch only. So if your syncing-server repo is on `master`, that shouldn't matter.

I should've mentioned that before running step 4, you should be in the `master` branch.

[2020-07-18 23:50] yozamacs commented on #74
Yep I was on the master branch when I followed all of those steps

[2020-07-19 00:11] johnny243 commented on #74
Please run the following command and paste output here:

[code]

[2020-07-19 02:46] yozamacs commented on #74
[code]

[2020-07-20 05:35] karolsojko commented on #74
Looking at the migrations list you must have run the migrations from the `develop` branch ( https://github.com/standardnotes/syncing-server/tree/develop/db/migrate ) because last ones are not available in the `master` branch

[2020-07-20 13:41] johnny243 commented on #74
Just to make sure, run:

[code]

[2020-07-20 18:03] yozamacs commented on #74
now I'm getting an "invalid email or password" error when I try to sign in

[2020-07-20 18:18] johnny243 commented on #74
That's fine, your syncing-server is on the correct branch now, meaning that the old database was dropped and a new one was created based on the schema of the `master` branch. You should be able to register your accounts and sign in with no issues.

[2020-07-20 19:01] yozamacs commented on #74
do I need to register my account in the syncing server somehow? or do I have to create a new account to use with the syncing server?

[2020-07-21 02:10] johnny243 commented on #74
Yes, using the Registration form.

[2020-07-21 03:59] yozamacs commented on #74
thanks!!

[2020-07-21 03:59] #74 closed

[2020-07-22 18:00] lucky13820 commented on #62
I had the same problem, install ruby-dev as @iGlitch suggested helped.

[2020-07-23 18:22] GraysonCAdams opened #79 "Able to log in, but POST updates to syncing-server are returning 500"
Hello,

I am running Standard Notes behind an nginx reverse proxy -> Standard Notes server.

I am able to authenticate and pull in notes from my Standard Notes server to the client, but about 80% of the time, it is unable to update those notes back in the server. Sometimes it works, sometimes it doesn't. The result is conflict merge issues, with notes just continuing to duplicate on my client.

Th

[2020-07-23 18:24] GraysonCAdams commented on #79
Standard Notes syncing server logs are showing this:
[code]

[2020-07-23 18:25] johnny243 commented on #79
Could you please post the complete log from the syncing-server?

[2020-07-23 18:25] GraysonCAdams commented on #79
I added logs just now, do you mean more than the above?

[2020-07-23 18:26] johnny243 commented on #79
Yes. Ideally, the logs should include the `500` error messages.

[2020-07-23 18:27] GraysonCAdams commented on #79
[code]

[2020-07-23 18:27] GraysonCAdams commented on #79
Not sure why it is saying AWS? This is locally hosted. I am using the production flag though, if that helps.

[2020-07-23 18:39] johnny243 commented on #79
This method should not exist in `master` branch. So you might be on `develop` branch?

[2020-07-23 18:41] GraysonCAdams commented on #79
Yep, that's the issue. Any reason why `develop` is your default branch?

[2020-07-24 08:00] sentry-io[bot] opened #80 "Supress tcp connections errors on unreachable hosts"
Sentry Issue: [RUBY-SERVER-5Z](https://sentry.io/organizations/standard-notes/issues/1799736043/?referrer=github_integration)

[code]

[2020-07-24 21:05] GraysonCAdams commented on #79
@johnny243 This issue still occurs in the latest release from `master` branch:

[code]

[2020-07-25 15:38] Heziode opened #82 "Alternative command for secret when using docker-compose"
Maybe add another line here:

https://github.com/standardnotes/syncing-server/blob/9b458f9480fd168554e71ef8c5933d170e99f195/env.sample#L28

With something like this:

[code]

For users who have never used RoR (like me) and to prevent to "pollute" the prod server by installing RoR only for generate secrets.

[2020-07-25 16:29] mobitar commented on #79
@karolsojko `cleanup_excessive_revisions` should do checking to see if AWS enabled. We should generally optionalize any AWS behavior so users don't experience issues.

[2020-07-27 04:17] karolsojko commented on #79
Application's code layer should be agnostic of infrastructure and cleanup of excessive revisions is. Not sure what you had in mind with checking if it's enabled - aren't other `*.perform_later` crucial to the app logic?

I think we need to update the docs that the app uses shoryuken which utilizes AWS SQS in production mode. Or provide an alternative to run jobs inline by default? What do you thin

[2020-07-27 12:35] mobitar commented on #79
Yep just some solution to AWS dependence. Users shouldn't need to use AWS to self-host. Inline jobs could be a good solution.

[2020-07-28 04:50] JaspalSuri commented on #82
Hi, I've assigned our backend devs to this issue. Thanks for bringing this to our attention!

[2020-07-28 13:36] #82 closed

[2020-07-29 03:01] JaspalSuri commented on #82
Let us know if you have any other questions!

[2020-07-29 05:45] karolsojko opened #85 "Implement using database read replicas in Rails"
In Rails 6 db read replicas come as a [built-in feature](https://guides.rubyonrails.org/active_record_multiple_databases.html). Since we are at 5.1 we need to add the `octopus` gem to utilize delegating read queries to read replicas.

Sources:
- https://freeletics.engineering/2017/03/06/database-replicas.html
- https://medium.com/compass-true-north/adding-read-replicas-in-a-production-ruby-on-rail

[2020-07-30 14:36] karolsojko opened #86 "CSRF token authenticity warning"
With every request we are seeing this warning entry in logs:
[code]

This basically doubles the amount of logs the app produces so we need to either fix the issue or get rid of the message.

[2020-07-30 14:58] johnny243 commented on #86
Since the `syncing-server` is an API, I think the concept of `CSRF` doesn't apply here.

[2020-07-30 15:10] johnny243 commented on #86
https://github.com/standardnotes/syncing-server/blob/c3b37f3cd34c418866b827a74065d08508b6a934/app/controllers/application_controller.rb#L1

We can change `ActionController::Base` to `ActionController::API`

[2020-07-30 16:29] karolsojko commented on #86
good catch @johnny243 👍

[2020-08-04 05:02] karolsojko opened #87 "JSON gem deprecation warnings"
We should get rid of those warnings:

[code]

[2020-08-04 12:03] karolsojko commented on #87
Seems like a potential fix: https://piechowski.io/post/last-arg-keyword-deprecated-ruby-2-7/

[2020-08-05 05:18] johnny243 commented on #87
Mmm... I can't reproduce this.

This seems to apply for `ruby 2.7` but I though we were still on `ruby 2.6.5`

[2020-08-05 06:24] karolsojko commented on #87
@johnny243 I think it's in the version we use as well - still plenty of those visible on production. Did you try running the Docker image?

[2020-08-06 13:43] #86 closed

[2020-08-09 19:11] joekerna opened #90 "docker-compose up error"
I've updated to the latest version. When running `docker-compose up -d` I get

My .env file is

Can you help me out? The server was working fine before the update

[2020-08-09 19:35] joekerna commented on #22
Can you help me restore such a backup? Do I

1. clone
2. restore db
3. docker-compose ?

[2020-08-09 19:50] joekerna commented on #90
Using `docker-compose up -d --build` fixed the issue.

What is the suggested way to update the syncing-server?

1. git pull
2. docker-compose up -d --build

[2020-08-09 19:50] #90 closed

[2020-08-11 06:54] karolsojko commented on #90
@joekerna whenever there is a change in the docker setup and/or dependency files you need to rebuild the image.

docker-compose is used for local development purposes mainly. If your intention is not contributing but just running the app I recommend using our official image from Docker hub like this:

[code]

Or if you want to use the `develop` branch that is in a work-in-progress state please use

[2020-08-11 07:07] karolsojko commented on #90
I've updated the `README` to avoid further confusion: https://github.com/standardnotes/syncing-server/commit/5e74c773058a7814a00aaf87447df07b7a81f7da

/cc @mobitar @johnny243

[2020-08-11 07:11] joekerna commented on #90
@karolsojko oh great, thanks for the clarification. It was not clear to me from the previous `README`

Thanks a lot

[2020-08-11 08:11] joekerna commented on #90
In that case, do I need to run the MySQL server seperately?

[2020-08-11 09:24] karolsojko commented on #90
Yes, the containerized MySQL is for development purposes mainly

[2020-08-11 09:31] joekerna commented on #90
Do you know if PostgreSQL will also work? I have that running already for other applications. That way I won't have to run MySQL for Standardnotes alone

[2020-08-11 09:33] karolsojko commented on #90
Syncing Server is only MySQL compatible at the moment

[2020-08-12 06:20] karolsojko commented on #22
I think https://github.com/standardnotes/syncing-server/issues/90 sorts this out - @joekerna can you confirm?

[2020-08-18 08:42] 0lzi opened #92 "Raspberry pi docker-compose version mismatch"
git pull then set my .env file then ran the docker-compose command then was met with

[code]

changing the raspberrypi.yml version seems to fix

[2020-08-18 10:25] 0lzi opened #93 "syncing-server_app_1 keeps restarting Raspberry Pi"
followed instructions for docker compose for Raspberry Pi, and getting the app restarting after 20-25 seconds, here is the end of the logs from the logs

[code]

[2020-08-18 16:49] nm17 opened #95 "docker-compose fails to run"
HEAD: d8b24160ef90ff014fe00a7494bbd49ae9c8833d

[code]

[2020-08-18 16:57] nm17 opened #96 "Unable to deploy to heroku"
Link: https://dashboard.heroku.com/new?button-url=https%3A%2F%2Fgithub.com%2Fstandardnotes%2Fsyncing-server&template=https%3A%2F%2Fgithub.com%2Fstandardnotes%2Fsyncing-server

[code]

[2020-08-18 17:27] johnny243 commented on #96
Can you use the one located in the [master branch](https://github.com/standardnotes/syncing-server/tree/master)?

[2020-08-19 07:51] karolsojko commented on #95
Hi @nm17 can you give us a bit more context:

- what command did you use to get this output?
- are you aiming to run syncing-server on Raspberry PI?
- are you aiming to create a local development setup for contributing?

[2020-08-19 12:54] nm17 commented on #95
Hello @karolsojko ,
  - I'm just running `docker-compose up`.
  - I'm not running on a Raspberry PI.
  - I'm trying to deploy to a deployment server for production use.

### Versions:
[code]
### Pip docker related packages:
[code]

[2020-08-19 13:06] nm17 commented on #96
@johnny243 Same URL and build log

[2020-08-19 13:42] karolsojko commented on #95
we use `docker-compose` mainly for development and contributing purposes as a local setup.

If you want to set up the `syncing-server` on your own server please use our official Docker image as in the README: https://github.com/standardnotes/syncing-server#docker-setup

[2020-08-19 18:35] nm17 commented on #95
Ok, thanks for help. Syncing server works now.

[2020-08-19 18:35] #95 closed

[2020-08-19 20:33] damien122 opened #98 "How to run sync server with nginx under other location"
Hi,

I tried to run the sync server with nginx and want to use other location

Snippet from my site config:
[code]

But I got every time an error that the POST path "/notes/auth" was not found.
So can I change somewhere in the sync server the default path or should I use a sub domain for the sync server?

[2020-08-20 05:54] karolsojko commented on #98
We recommend using our official Docker image as your default setup, like in here: https://github.com/standardnotes/syncing-server#docker-setup

You can then use nginx as a reverse proxy for the running container.

[2020-08-20 07:32] damien122 commented on #98
And without docker? Is it possible to use locations with nginx for the sync server?

[2020-08-20 10:44] karolsojko commented on #98
I think it's a matter of your nginx configuration. Maybe this could help: https://stackoverflow.com/a/33325584 ?

[2020-08-20 18:29] damien122 commented on #98
Thx, rewrite in the location works fine :)

[code]

[2020-08-20 18:29] #98 closed

[2020-08-31 12:55] itsrjk opened #101 "Sync duplicating notes"
Hi,
Everything works as expected. However when I create a note it starts duplicating randomly. i.e, 1 note becomes 2,4,6,8 and so on and doesn't stop. Here are the logs

[code]

[2020-08-31 13:04] itsrjk commented on #101
I also get this notification frequently:

[code]

[2020-08-31 13:35] mobitar commented on #101
@karolsojko do we still have the issue where not having AWS_REGION set will cause saving to silently fail? That might be what's going on here.

[2020-08-31 14:06] karolsojko commented on #101
@mobitar I think duplicates happened when someone used develop brach of syncing-server against master webapp /cc @baptiste-grob @johnny243

as for the AWS_REGION that was an issue when someone used the app in development mode from what I remember https://github.com/standardnotes/syncing-server/pull/63

[2020-08-31 14:12] itsrjk commented on #101
@karolsojko I might have used the develop branch by mistake. My bad!! I will try with the master branch and get back

[2020-08-31 14:23] mobitar commented on #101
@karolsojko but if using the server in production mode wouldn't it run jobs which depend on AWS_REGION?

[2020-08-31 14:36] itsrjk commented on #101
I changed to the master branch and it's working perfectly now :100: ! Thank you so much. Do let me know if i can go ahead and close the issue

[2020-08-31 14:49] karolsojko commented on #101
Can't recall what the discussion was about the setting needed to be inline in development mode only. Anyways yeah - in production mode you'd need to have AWS_REGION to get registration emails (but it's not necesarry to run the server): https://github.com/standardnotes/syncing-server/blame/develop/app/controllers/api/auth_controller.rb#L138

This is a bit of a different topic - @itsrjk I think you

[2020-08-31 15:06] itsrjk commented on #101
Cheers!

[2020-08-31 15:06] #101 closed

[2020-08-31 19:02] anLizard opened #102 "Unable to sync notes"
docker-compose.yml:
[code]

.env file:
[code]

I can sign up on app.standardnotes.org using my sync server `test.notes.example.com/api`.
But any notes I create don't sync properly. It is stuck on `Syncing:0/1`, then creates duplicates of the note I created.

![image](https://user-images.githubusercontent.com/48686356/91757597-e1110200-ebce-11ea-8886-323c3de9f332.png)
![image](https://user-images.g

[2020-09-01 08:41] karolsojko commented on #102
Please use the `standardnotes/syncing-server:stable` image for syncing-server.

The `standardnotes/syncing-server` defaults to `standardnotes/syncing-server:latest` which is in development mode. The issue with duplications happens when you use the stable version of Web App with the development version of the syncing-server

[2020-09-01 09:00] anLizard commented on #102
That's fixed it for me, thanks! I can't believe I missed that...
However, I can't import an unencrypted backup of my notes from a previous installation. Should I open a new ticket for this?

[2020-09-01 09:04] karolsojko commented on #102
Yes, please do :)

[2020-09-01 09:11] anLizard commented on #102
Turns out I tried to import the .zip instead of the import file inside the zip. Everything works now, thanks so much for your help!

[2020-09-01 09:11] #102 closed

[2020-09-01 09:14] JaspalSuri commented on #102
I'm going to pin this issue for now to let other users experiencing similar issues find [the solution](https://github.com/standardnotes/syncing-server/issues/102#issuecomment-684585935) faster.

[2020-09-04 01:52] PeterXQChen opened #104 "Disable registrations not working"
I've set the variable in my .env file and restarted the server but I am still able to register?

[2020-09-04 02:22] #104 closed

[2020-09-04 04:16] JaspalSuri commented on #104
Hi Peter, I hope that you were able to figure out the issue with registrations not being disabled. Please let us know if you have any other questions. 🙂

[2020-09-04 17:36] tmkklivecom opened #105 "Access denied for user 'standard_notes'@'localhost' (using password: NO)"
Docker container failing when first run.
"Access denied for user 'standard_notes'@'localhost' (using password: NO)" although there is a password defined under environmental variable DB_PASSWORD.

[2020-09-05 07:33] JaspalSuri commented on #105
Hi @tmkklivecom,

I'm sorry that you're experiencing issues with your self-hosting setup. Any additional details such as what docker image you used & where you downloaded it from, and anything else about your setup that might help would be greatly appreciated. I've assigned someone to look into this task and they should get back to around early next week.

Thanks for using Standard Notes!

- Jaspa

[2020-09-05 20:06] tmkklivecom commented on #105
docker container: standardnotes/syncicng-server:latest
downloaded from: registry.hub.docker.com
Host: Synology NAS DSM 6.2.3
find attached docker config and log.

[2020-09-05 20:10] tmkklivecom commented on #105
[standardnotes-syncing-server1.json.txt](https://github.com/standardnotes/syncing-server/files/5178561/standardnotes-syncing-server1.json.txt)

[standardnotes-syncing-server1.csv.txt](https://github.com/standardnotes/syncing-server/files/5178562/standardnotes-syncing-server1.csv.txt)

[2020-09-05 20:12] tmkklivecom commented on #105
Shouldn't connection to database be - standard_notes'@'localhost' (using password: YES)
instead
standard_notes'@'localhost' (using password: NO)?

[2020-09-07 06:46] karolsojko commented on #105
If you're running syncing-server from a Docker container the MySQL server is not available on `localhost` as they are not on the same network.

Can you try running that container in a `host` network mode passing the option `--network host` to `docker run ...` ?

https://docs.docker.com/network/network-tutorial-host/
https://docs.docker.com/network/host/

Also you might want to create a user in MyS

[2020-09-07 11:24] tmkklivecom commented on #105
BTW network - I'm aware that docker container must be in the host network to see the the localhost with mysql and the container is in the host network.
As I use mariadb I also use port 3307.
I also granted max priviligies to dedicated database user (used phpmyadmin)
CREATE USER 'standard_notes'@'%' IDENTIFIED BY '***';GRANT ALL PRIVILEGES ON *.* TO 'standard_notes'@'%' REQUIRE NONE WITH GRANT OPTI

[2020-09-09 21:11] woojoo666 commented on #105
@tmkklivecom maybe try getting the standard notes server running without any special configurations, and then see if you can access your mariadb instance from inside the container shell? eg

[2020-09-09 21:15] woojoo666 commented on #105
also it looks like even though you set `DB_USERNAME` to `root` in your config, the standard notes container is trying to reach the db using username `standard_notes`

[2020-09-10 20:28] tmkklivecom commented on #105
I tried once again.
I have a conatiner with mariadb 10. As I use this database with other containers it is accessible.
Created standardnotesuser, standardnotesdb in the mariadb in the container
GRANT ALL PRIVILEGES ON `standardnotesdb`.* TO 'standardnotesuser'@'%' WITH GRANT OPTION;
I attached the mariadb container to syncing server container.
Started syncing server container,  Container is starti

[2020-09-10 20:29] tmkklivecom commented on #105
[standardnotes-syncing-server1.json.txt](https://github.com/standardnotes/syncing-server/files/5204474/standardnotes-syncing-server1.json.txt)
[standardnotes-syncing-server1.csv.txt](https://github.com/standardnotes/syncing-server/files/5204475/standardnotes-syncing-server1.csv.txt)

[2020-09-15 11:00] MakiG0 opened #108 "Problem adding selfhosted extension windows app"
Hello standardnotes-team,
I struggle at the moment with installing my selfhosted-extensions in the desktop app (Win).
In the web app (app.standardnotes.org) i logged in with sync-URL (Advanced Options) and User, add the extensions URL and after that, every extensions can be installed flawlessly.
On the desktop app i got this error messages: _"Error installing locally: error downloading https://git

[2020-09-15 14:34] mobitar commented on #108
Without seeing your self-hosted endpoints it would be very difficult to diagnose the issue. You have to make sure the path to the download url for the extension is valid.

[2020-09-16 06:25] MakiG0 commented on #108
for example the folder extension has these informations (i changed my domain to domain.com):
[code]
do you need more informations? please let me know.

[2020-09-19 19:36] 917huB opened #110 "Self-hosted AWS S3 storage, e.g Minio"
Is it possible to configure fileSafe to use self hosted AWS S3 compatible storage provisioned through services like Minio?

[2020-09-21 13:44] mobitar commented on #110
No, FileSafe only works with literal S3 for now, and not S3 compatible APIs.

[2020-09-29 02:22] AakashSasikumar commented on #96
I am having the same issue. I tried to clone the repo and push it to heroku, and that seemed to work. But when using the heroku syncing server in the advanced options, it keeps saying `A server error occurred while trying to sign in. Please try again.`. It would be very helpful if this issue were fixed.

[2020-09-29 02:36] AakashSasikumar commented on #96
UPDATE: I checked the logs and noticed that it wasn't connecting to the SQL DB. I followed the instructions on [this page](https://docs.standardnotes.org/self-hosting/heroku) and did all the stuff with no issues.

But now the same error persists. Here are the logs,
[code]

[2020-09-29 13:11] mobitar commented on #96
Make sure you're using the master branch and not the develop branch.

Otherwise if you want to use the develop branch, add a new ENV variable: `PSEUDO_KEY_PARAMS_KEY`. Set its value equal to any secure random string.

[2020-09-30 07:07] glamoroussky commented on #96
I got the same result, frustrating

[2020-09-30 14:28] tuxick opened #113 "Storing mysql root password is bad and not needed"
I noticed DB_ROOT_PASSWORD used in .env file. This is always a bad idea, and `bundle exec rails db:create db:migrate` will prompt for password anyway.

[2020-10-01 07:45] JaspalSuri commented on #113
Hi @tuxick,

I've assigned this thread to our back-end devs and they will get in touch with you. Thank you for your feedback!

[2020-10-01 07:47] karolsojko commented on #113
This is only used for local development and is a required parameter for running MySQL container in `docker-compose` setup, see: https://hub.docker.com/_/mysql

You don't have to set up the variable if you are running from a pre-built official image

[2020-10-01 10:31] tuxick commented on #113
So adding a comment in the env sample should be enough, i suppose.

[2020-10-01 20:36] robjaq opened #117 "Session tokens develop branch"
I wanted to try to understand how authentication and sessions worked here. The Sessions.md file is very much appreciated, since I do not know ruby well.
What I figure is that the access token and the refresh token are stored as they are.

1. Therefore if an attacker were to gain access to the db silently or backups(depending on how their stored)  then they would be able to get hold of anybody's se

[2020-10-02 06:23] #113 closed

[2020-10-02 08:51] JaspalSuri commented on #117
Hi @robjaq,

I've assigned some members of the team to look into your questions and they will get back to you within a few days or by early next week. 🙂

[2020-10-02 15:58] mobitar commented on #117
@robjaq good point, hashing the access_token and refresh_token before storing on the server would be an improvement. The identifier would just be the session's UUID. I'll look into this more but sounds like we can make this change before we go live with develop.

[2020-10-10 13:31] flexingtoohardouchie commented on #96
FYI to those who were affected by this issue, like me: **it seems to be fixed**. I was able to spin up an instance successfully.

[2020-10-10 14:07] nm17 commented on #96
@flexingtoohardouchie can confirm that it's working properly now. Closing this issue.

[2020-10-10 14:07] #96 closed

[2020-10-16 02:24] #117 closed

[2020-10-19 07:57] karolsojko opened #124 "Missing ids error on extension job"
Durign the weekend we had quite a few multiline errors with missing ids passed to extension job:

<img width="1793" alt="Zrzut ekranu 2020-10-19 o 09 56 08" src="https://user-images.githubusercontent.com/311058/96417351-7608a280-11f1-11eb-8099-70eece7683b8.png">

[2020-10-19 13:45] #124 closed

[2020-10-20 10:34] 0lzi opened #127 "HTTP parse error with nginx reverse proxy"
Im using the syncing server on a raspberry pi, i have nginx setup for reverse proxy on another machine.

here is my nginx proxy config

[code]

when i navigate to ```192.168.1.16:300``` locally i get

![image](https://user-images.githubusercontent.com/4409144/96574584-8b500080-12c7-11eb-854e-ee3bdf321a00.png)

which i expect, but navigating to my subdomain  notes.domain.com and get this in the log

[2020-10-20 15:23] johnny243 commented on #127
Hey @0lzi

It looks like `nginx` is trying to access `https://192.168.1.16:3000` which is not valid since the `puma` server is in non-SSL mode. I would start by adjusting the `.conf` file a bit:

[code]

Replace `your-domain` with your real domain.

And adjust `ssl_certificate` and `ssl_certificate_key` as necessary.

Let me know if this helps!

[2020-10-20 16:21] 0lzi commented on #127
Thanks for the reply @johnny243

bit more background, im using the [Linuxserver.io SWAG](https://docs.linuxserver.io/general/swag) image for the reverse proxy.

I am then just editing the proxy-conf files to proxy_pass to where i need, and it works for everything i have tried so far minus this.

Will keep digging, and will update and close if i sort it.

thanks

[2020-10-21 13:39] #127 closed

[2020-10-23 06:33] 0lzi opened #131 "Raspberry pi build for web"
Not sure of the hardware requirements for standardnotes web but it would be awesome to have it available for the raspberry pi.

[2020-10-27 13:27] mattivilho opened #132 "FileSafe with Nextcloud"
Hello standardnotes-team!

I'm having problems connecting my Nextcloud server as the Standard Notes FileSafe integration. I tested it with Dropbox and everything worked fine.

I tried both of the URL combinations mentioned here: https://github.com/standardnotes/forum/issues/308.

I have 2FA enabled on my Nextcloud so tried with a new created app password and my admin account password. I also tried

[2020-10-28 04:49] JaspalSuri commented on #132
Hi @mattivilho,

I'm afraid that currently no one on the team has experience with using Nextcloud. Perhaps information from [this thread](https://github.com/standardnotes/forum/issues/1083#issuecomment-696452971) could be of some use. Please note that you might run into [this issue that one user encountered](https://github.com/standardnotes/bold-editor/issues/53), where they couldn't upload files

[2020-10-30 14:21] LuxoftAKutsan commented on #102
Where can I found Dockerfile and code for `standardnotes/syncing-server:stable` to compile it on my host?

[2020-11-02 08:30] karolsojko commented on #102
@LuxoftAKutsan https://github.com/standardnotes/syncing-server/tree/master

[2020-11-06 10:09] Tonbery7 commented on #132
Hello,

i successfully integrated my own Nextcloud server with Standard Notes via the FileSafe Extension. What works for me is the folowing:

Server-URL:
https://<Domain-/Hostname>/nextcloud/remote.php/dav

Username/Password:
Don't use your actual login credentials, use app-credentials.

Directory:
files/<Your subfolder>

I hope that help anyone having trouble with this!

[2020-11-10 12:01] alexkutsan opened #137 "Stable releases"
I can see extremely frequent releases tags.
How can I figure out what version is stable?

[2020-11-10 13:14] karolsojko commented on #137
@alexkutsan we recommend using our official Docker Hub images which we tag with `latest` and `stable` tags.

`stable` tag corresponds to what's in `master` branch and what's on production:

https://hub.docker.com/repository/docker/standardnotes/syncing-server

We do our best to deliver new features and fixes as fast as possible so you can expect a lot of releases but locking on `stable` tag in Doc

[2020-11-16 19:15] nickian opened #142 "Docker Container Keeps Exiting and Restarting"
I'm trying to use the sync server with Docker, but the container keeps exiting immediately. I followed the steps here: https://docs.standardnotes.org/self-hosting/docker

Is there something I'm missing? Do I need to adjust any other settings in the `.env` file other than the `SECRET_KEY_BASE`?

Using docker-compose, the DB container runs fine, but not the sync server one. Running this results in t

[2020-11-17 07:23] karolsojko commented on #142
@nickian can you run the container without the `-d` (daemon mode) and see paste what is the output of the logs?

[2020-11-17 07:47] nickian commented on #142
It looks like it's a database issue.

Is it supposed to create its own new database within the container, or is it looking for a database on the host (outside of the containers).

[code]

[2020-11-17 08:01] nickian commented on #142
The above was with running: `docker run -d -p 3000:3000 --env-file=your-env-file standardnotes/syncing-server:stable`

Then I tried running `docker-compose up` instead and saw there was a permissions error on the database step. I changed the syncing-server repository permissions to 777 and did `docker-compose up` and it worked! Not sure why or if this is expected behavior with permissions.

[2020-11-17 08:14] karolsojko commented on #142
It's looking for a database under the same network as the container is.

Can you try adding `--net=host` and see if that works? Your database has to be created and accessible under what is configured in `.env`

[2020-11-17 08:33] nickian commented on #142
Oh, wait. I take that back. It just took a couple of minutes to become available. That is working now!

[2020-11-26 07:19] ijustyce opened #143 "how to remember login status, always ask me for login when I open the android app"
First of all, thanks for your great work, But I face some issue and need your help.

I use self hosted version, but always ask me for login even if  I was logged in before. Both the web app and the android app has this issue. Can you help me fix it. My server run on the raspberry pi 4

[2020-11-26 20:41] JaspalSuri commented on #143
Hi @ijustyce,

What is your current self-hosting setup (i.e. are you using Docker with the Pi)? Do you have access to any error logs that might help us investigate further?

[2020-11-27 05:20] ijustyce commented on #143
Hi @JaspalSuri ,
I run with docker on raspberry pi 4 and it will ask me to re-enter email and password if I re-open the android app after close it for a while.
I typed `docker logs -f --since 1m xxx`  then re-open the android app and it asked me to re-enter email and password again. Below is the output logs.
`{"level":"DEBUG","time":"2020-11-27T03:01:53.314+00:00","message":"   (0.9ms)  SET NAMES

[2020-12-03 08:21] karolsojko commented on #143
Hi @ijustyce ,

- are you using the `stable` or the `latest` version of Docker image?
- what value do you have in your env file regarding `RAILS_ENV`?

I have a feeling that your issue might be related to short-lived sessions in development mode, see: https://github.com/standardnotes/syncing-server/blob/develop/config/sn_session.yml

[2020-12-03 08:32] mrichtsfeld commented on #143
@karolsojko I initially used "development" and switched to "production" later. Regarding Docker I used the `stable` version. Is there anything else I need to do except `docker-compose restart` for the new `RAILS_ENV` to become active?

[2020-12-03 08:59] karolsojko commented on #143
- `RAILS_ENV=production` will allow you for a longer lived session
- `standardnotes/syncing-server:stable` is the recommended Docker image since `latest` is always in a "work-in-progress" state.

`docker-compose restart` won't do. After [Docker docs](https://docs.docker.com/compose/reference/restart/):
[code]

I would suggest killing the containers and starting the up again. That should do the tri

[2020-12-03 10:04] ijustyce commented on #143
@karolsojko thanks, the value of `RAILS_ENV` is development. The offical docker image keep restart on pi4, so I build my own docker image.

[2020-12-03 11:49] mrichtsfeld commented on #143
@karolsojko that helped for me. I have updated the description in the .env.sample file and the documentation and created a pull request. Should be clearer now. Thanks for your help.

[2020-12-04 02:10] ijustyce commented on #143
@karolsojko thanks again, now work fine.

[2020-12-04 02:10] #143 closed

[2020-12-04 23:29] pixel2920 opened #145 "Version 004 / Sync Client v3.5"
If my syncing-server is on the current `master` branch (as of today), should I have gotten a prompt to upgrade to encryption version 004, or is that still on `develop`?

[2020-12-05 20:51] maaroen opened #146 "ARM64 version"
Hello,

Would it be possible for you to upload next to the AMD64 and ARM64 version/ to DockerHub?

I would like to run this image in a k8s cluster on my Raspberry Pi, so an ARM64 image would be handy so I don't have to build it myself.

Kind regards,

Maaroen

[2020-12-08 09:51] baptiste-grob commented on #145
Hey @pixel2920, the encryption upgrade prompt is disabled in all versions of the apps at the moment, and we'll enable it sometime in early 2021.

[2020-12-10 21:00] pcuzz opened #147 "SessionTokenVersion vs api_version"
Hello, whats the difference between the session version and the api_version? Do they more or less accomplish the same thing?

[2020-12-11 11:23] clarity99 opened #149 "constantly needing to re-login"
Hi,

I'm having some issues with using the app and I'm not sure if this is by design or a bug. I am using the self-hosted setup with the docker syncing server.
Basically, the app needs me to relogin quite a lot - it seems like at least every time the computer comes out of sleep I need to reenter both the email and the password.
So, first gripe - why do I have to reenter both - email and password?

[2020-12-11 17:46] twocoolbeans opened #148 "[Feature Request] Limit Revision History"
Note history is now kept forever (100 years) with no ability to delete old versions. Although a default of a year seems like a better choice, there should at least be the ability to manually limit/delete note history on the client side. Minimalist philosophy aside, at minimum, there should be a setting to change this behavior server side in the .env file.

Right now the below already exists in the

[2020-12-12 04:38] hwittenborn commented on #142
Anything else you happened to do by chance? I have the following setup, but the container keeps restarting:

[code]
On a side note, I'm noticing when I add a volume link through ``-v /my/data/directory:/syncing-server \``, I'm seeing it's spit this error:
[code]

I have it set to host networking for my database as well as the image above, but to no avail.

[2020-12-12 04:39] hwittenborn commented on #142
Anything else you happened to do by chance? I have the following setup, but the container keeps restarting:

[code]
On a side note, I'm noticing when I add a volume link through ``-v /standardnotes/data:/syncing-server \``, I'm seeing it's spit this error:
[code]

I have it set to host networking for my database as well as the image above, but to no avail.

[2020-12-12 09:40] JaspalSuri commented on #149
Hi @clarity99,

I'm sorry to hear that. It looks like a couple of other users were affected by this issue. Can you take a look at [this thread](https://github.com/standardnotes/syncing-server/issues/143) and let us know if it helps?

[2020-12-12 19:55] nickian commented on #142
@hwittenborn I think this line `--net host \` should be `--net=host \`

[2020-12-12 20:45] hwittenborn commented on #142
Still no luck - the container seems to be restarting whenever I load the webpage though, not sure what's up with that...

Still can't link that one folder without that last error showing up either.

[2020-12-12 21:05] hwittenborn commented on #142
Update, it was a database connection issue -- don't know how I didn't notice it, but it's all running now, so I'm all good.

[2020-12-13 03:57] JaspalSuri commented on #142
I'm glad to hear that! Thanks for letting us know!

[2020-12-13 04:26] kentxvalentines opened #151 "not able to be accessed via hostname"
I am not able to access the web interface via hostname but can access via IP:Port

below is the error when i try to access via hostname like https://inxxxx.xxxce/notes
![image](https://user-images.githubusercontent.com/68675600/102003039-74fd7880-3d3d-11eb-87a3-47045d60d483.png)

I have the below .env file.
[code]

below is the docker-compose.yml file
[code]

I am using `docker run -d -p 3001:3001

[2020-12-13 08:29] doakyz opened #150 "Pi Zero - Unable to deploy with docker-compose"
When trying to use docker-compose on a Raspberry Pi Zero it fails due not having a supported image.

Output of trying to run:

pi@raspberrypi:~/standard-notes/syncing-server $ docker-compose up -d
Building app
Step 1/15 : FROM ruby:2.6.5-alpine
 ---> 508bc7d82c5a
Step 2/15 : ARG optimize_for_raspberry_pi
 ---> Using cache
 ---> e1a4bfae4e63
Step 3/15 : ARG UID=999
 ---> Using cache
 ---> de77c421c

[2020-12-13 10:14] clarity99 commented on #149
thank you, changing environment to production seems to work!
The UX question still stands though - if you say please reenter credentials for xx@xx.com, why do I then have to enter xx@xx.com again?

[2020-12-14 14:18] mobitar commented on #147
They are unrelated. Session version is the version number of our session protocol. Api version is the version number of the overall API.

[2020-12-14 15:33] mobitar commented on #149
It's simply because our Challenge API doesn't allow pre-filled values in the input boxes yet ;) The re-authenticate form is built using the Challenge API and is non-specific. But we'll get this in eventually for a simpler UX.

[2020-12-14 16:32] pcuzz commented on #147
Thanks Mo

[2020-12-14 16:33] #147 closed

[2020-12-15 16:15] clarity99 commented on #149
ah, thanks, I'll close this issue then.

[2020-12-15 16:15] #149 closed

[2020-12-16 10:29] karolsojko commented on #142
Closing as this seems to be resolved. If any issues still occur feel free to reopen.

[2020-12-16 10:29] #142 closed

[2020-12-16 12:22] karolsojko commented on #145
I think we can mark this as resolved - please feel free to reopen if needed

[2020-12-16 12:22] #145 closed

[2020-12-16 19:23] #151 closed

[2020-12-18 11:15] jonhadfield opened #152 "Heroku: MySQL failure on registration"
I've deploying to Heroku from master branch but failing to register (using client: https://app.standardnotes.org/) with 'unknown error." on the client.

App log:
[code]

Build log:
[code]

       ruby "2.6.6"

[code]

[2020-12-21 09:09] karolsojko commented on #146
Good idea @maaroen - putting on my to-do list

[2020-12-21 09:13] maaroen commented on #146
@karolsojko I could provide you the docker commands if you want.

[2020-12-21 09:13] karolsojko commented on #152
From what I see in the logs, you have:
[code]

Please adjust your `.env` file or the environment variables you have configured on Heroku. Most probably the issue above is due to the mysql2 driver trying to connect to the database via a socket - try changing the db host from `localhost` to `127.0.0.1` or whatever values is more appropriate in your case.

[2020-12-21 09:24] karolsojko commented on #146
@maaroen feel free to open a pull request :)

[2020-12-21 11:23] jonhadfield commented on #152
I hadn't changed any environment variables. I only chose the 'Deploy to Heroku' button from your repo on the master branch.
I just added an environment variable: DB_HOST 127.0.0.1 in Heroku, then redeployed, and it now says:
```2020-12-21T11:16:37.212130+00:00 app[web.1]: {"level":"FATAL","time":"2020-12-21T11:16:37.211+00:00","message":"Mysql2::Error (Can't connect to MySQL server on '127.0.0.1'

[2020-12-21 11:36] karolsojko commented on #152
@jonhadfield - I'm not sure if the deploy to heroku button is up to date - we'd have to revise this.

Anways, are you sure you have a MySQL database available and reachable at that host with credentials given in the enviornment variables?

[2020-12-24 12:17] #146 closed

[2020-12-24 12:42] karolsojko commented on #146
Happy Holidays 🎅 🎄 !

We now publish the ARM64 version of the Docker image: https://hub.docker.com/r/standardnotes/syncing-server/tags?page=1&ordering=last_updated

@maaroen can you confirm it works for you?

[2020-12-30 19:45] cr0ssmind opened #154 "PostgreSQL support?"
Are you planning support PostgreSQL too in the future?

[2020-12-31 13:09] JaspalSuri commented on #154
I'm not currently aware of any plans to to support PostgreSQL in the near future.

[2021-01-01 20:53] sergio-ns opened #155 "NameError: wrong constant name INFO"
Hello,
I got this error message in the log file of the docker container of syncing-server.

The error goes away and the container runs after commenting out the apparently offending line in the .env file:
#RAILS_LOG_LEVEL=info # "debug" | "info" | "warn" | "error" | "fatal"

See below for the complete log.
Thanks
S.

Prestart Step 1/3 - Removing server lock

Prestart Step 2/3 - Migrating database

[2021-01-04 08:35] karolsojko commented on #154
Currently no - future development is made in https://github.com/standardnotes/syncing-server-js

The list of future priorities at the current moment holds us from implementing new db drivers

[2021-01-04 08:35] #154 closed

[2021-01-04 09:17] karolsojko commented on #155
Hey @sergio-ns I did run on a fresh copy:

[code]
No errors - can you share some steps to reproduce this?

[2021-01-04 12:01] sergio-ns commented on #155
Hello,
I just stopped and removed my standard-sync docker container and recreated it in order to reproduce the error.
This is how get the container up and running:

`#!/bin/sh
docker run -d -p 3000:3000 \
--name "standard_notes_sync" \
--env-file=standard_notes_sync_env \
--network=keplernet \
--restart always \
standardnotes/syncing-server:stable
`

My env file is (I uncommented out the problem l

[2021-01-04 17:58] cr0ssmind commented on #154
It's (sadly) clear, thank you for the answer! Keep the great work!

[2021-01-04 22:14] jonhadfield commented on #152
Sorry, I misunderstood. I thought the Heroku link was to set up an environment with DB, the same as with the docker-compose file.
Thanks anyhow.

[2021-01-04 22:14] #152 closed

[2021-01-11 09:54] chengs2035 commented on #155
me 2
so i try
[code]
fix it.

[2021-01-11 16:30] davidrot opened #159 "[Help Wanted] Authentication Required after a certain time"
**Describe the issue**
I have a self hosted docker instance running with the latest version. I'm using a android client (latest) and a mac osx client (latest with brew).
After a certain time I get the message authentication required. I havent restarted the server or added a new client. Sync was working.

**To Reproduce**
No steps known

**Expected behavior**
No authentication required dialog.

**S

[2021-01-12 14:02] mobitar commented on #159
Please see this thread: standardnotes/syncing-server#143 (comment)

We'll be making changes in the near future so that it defaults to master branch so new self-hosters don't have this issue 👍

[2021-01-13 00:19] jelkose opened #160 "No associated key found for item encrypted with latest protocol version."
Hey there,
at first thank You for this perfect notes-software, I'm using it for years now!

After doing the update to encryption version 004 my notes won't sync anymore. When opening the console I see the error message mentioned in the subject.

The app just says "Downloading xxx items. Keep app open" in the footer. The account panel shows "Syncing".
When I close the app and reopen it, I get the m

[2021-01-13 10:30] #159 closed

[2021-01-13 14:06] jelkose commented on #160
If've found a workaround by myself: After restart it says "Potentially out of sync" and there are no notes. It just imported my backup and it works without beeing out of sync or so.
I think a problem might be that the old notes will remain in the DB, but this should not be a problem when only using one account.
Regards,
Jelko

[2021-01-13 14:06] #160 closed

[2021-01-13 21:48] SuppenGeist opened #162 "Unable to sync notes"
Hey,
I use the command `docker run --net=host -d --env-file=.env standardnotes/syncing-server:stable` to start my sever and my .env file looks like this

[code]

In the web app (app.standardnotes) I can login, but after that nothing happens. It says "loading notes..." but nothing happens. In the development console, I get the error
[code]

I recently updated my account to the new enctyption versio

[2021-01-14 16:54] jelkose commented on #162
Hey @SuppenGeist,
I think You're experiencing the same issue I've had in #160, also after updating the encryption version.
I've resolved this by restarting the app (I'm using the desktop app, but it should work for the web app also) and reimporting my backup to my account which was empty after restart.

Regards,
Jelko

[2021-01-14 20:35] serverfilesync opened #163 "docker-compose up -d"
Helllo,

I follow the docker instruction using docker-compose in Debian. Except that I changed the volume bind mount path in the docker-compose.

However, I am getting the below error:

ERROR: for app  Cannot start service app: OCI runtime create failed: container_linux.go:370: starting container process caused: exec: "docker/entrypoint.sh": stat docker/entrypoint.sh: no such file or directory: un

[2021-01-14 20:57] va1entin opened #164 "standardnotes_app container crashes with "Permission denied""
I've been trying to set up standardnotes on my Raspberry Pi 4B with 4GB RAM using docker-compose as advised in the documentation [here](https://docs.standardnotes.org/self-hosting/raspberry-pi).

The image build succeeds but afterwards the standardnotes_app_1 container keeps crashing with this error in the logs:

[code]

I'll  gladly provide more info or test solutions.

[2021-01-15 03:53] hwittenborn opened #165 "Syncing Server Keeps Restarting (logs below)"
Trying to get the syncing server(docker) running after migrating my files(all dockerized) to a new server, but the syncing server keeps restarting. No error logs in the mariadb database, can't seem to find much from the syncing server logs either.

Anything I can try? Here's the logs as said before:

[code]

[2021-01-15 07:49] SuppenGeist commented on #162
Unfortunately, this does not work for me.

[2021-01-15 14:13] mobitar commented on #162
When did you first configure your server, and when's the last time you pulled in the latest version?

[2021-01-17 20:36] SuppenGeist commented on #162
The server was last updated(and first configured) around 16th Sep'2020. But I used the web app to connect to it and perform the account upgrade. Whats strange to me is that the web app suggested this account upgrade even though i would assume that the server did not provide such, since I did not update it for a long time.

But as a fix I will set up a completly new database. I suppose the current

[2021-01-18 19:21] kushfest opened #167 "[Help Wanted] bundler: failed to load command: rake"
**Describe the issue**
I've been using standardnotes for some time without issue, but after updating today (pulled the latest docker image and ran git pull on the syncing-server folder), I'm finding my server at a standstill. It gets stuck when starting, which renders it unusable. This is what repeats in my logs when I start the syncing-server in docker:

[code]

I tried starting with a fresh sync

[2021-01-19 08:18] karolsojko commented on #163
@serverfilesync if you look at the entrypoint of the Docker image it is defined like this: https://github.com/standardnotes/syncing-server/blob/develop/Dockerfile#L28

So what I can read from the error you supplied is that you don't have the sources properly mounted as a volume to the image. The `entrypoint.sh` file needs to be mounted at `/syncing-server/docker/entrypoint.sh` in order for the ima

[2021-01-19 08:20] karolsojko commented on #165
This is related to https://github.com/standardnotes/syncing-server/issues/155

[2021-01-19 08:31] #155 closed

[2021-01-19 08:58] karolsojko commented on #155
Please adjust your env file with the fixes applied in https://github.com/standardnotes/syncing-server/commit/e979405520a575916c4e68cc6689b11e3b3f0766

Also make sure to switch your Docker image tag so that you are using `standardnotes/syncing-server:latest`

[2021-01-19 08:58] karolsojko commented on #165
Please adjust your env file with the fixes applied in https://github.com/standardnotes/syncing-server/commit/e979405520a575916c4e68cc6689b11e3b3f0766

Also make sure to switch your Docker image tag so that you are using `standardnotes/syncing-server:latest`

[2021-01-19 18:29] bengladwell commented on #162
I also had this issue. Unfortunately I was not able to restore from backups. The apps and syncing-server would talk happily to each other and sync notes. But when I imported the backup, the syncing process could not complete. I wasn't able to find a helpful error on the server side. On the client side, the syncing spinner would spin indefinitely.

My syncing-server was running master branch from a

[2021-01-20 08:53] karolsojko commented on #167
Hi @kushfest we've announced on our Slack that we're deprecating `stable` tag and using `latest` instead to represent the state that is on production.

`dev` is the version that we have a work-in-progress state so please use at your own risk.

Recommended tag: `latest`

[2021-01-20 08:53] #167 closed

[2021-01-20 08:56] karolsojko commented on #162
Hi guys,

we've announce this on our community Slack some time ago:

[code]

Please switch to a respective tag

[2021-01-20 08:56] #162 closed

[2021-01-20 20:08] twocoolbeans commented on #148
Is this issue better left here, or closed and put in the desktop client?

[2021-01-21 16:40] mobitar commented on #148
Just to confirm you want to be able to auto-delete history past a certain time range, like 1 year? We don't delete revisions just yet as we want to keep this option until we figure out exactly how we want to handle it.

[2021-01-22 08:52] karolsojko commented on #163
Closing this one. Feel free to reopen if needed

[2021-01-22 08:52] #163 closed

[2021-01-25 08:11] mscMMN opened #168 "Bug: Environment variable PORT is named EXPOSED_PORT in sample env file"
This environment variable `PORT` is not set in the supplied sample env file:
https://github.com/standardnotes/syncing-server/blob/b46dad76324a1bc24888aeb8100c47e812ef966a/config/puma.rb#L12

Instead it's named `EXPOSED_PORT`.
https://github.com/standardnotes/syncing-server/blob/d76615c53cf36af41a66ca0da669a970e66073ec/.env.sample#L10

[2021-01-25 20:15] dgraziotin commented on #164
Ugly workaround (likey, I have the same issue on a Synology and hope it works for the RPi).

Mount the folders `/syncing-server/tmp`, `/syncing-server/log`, and `/syncing-server/db` separately (create the dirs outside standardnote folder) and `chmod -R 777` the hell of them.

Your resulting volumes entry should look like this (I mount them under `/volume1/docker/standardnotes-data`)

[code]

[2021-01-26 07:39] okiwoki opened #170 "Setting a blank index/home page?"
This might be kind of an odd request, but how do I change the default message of:

{"message":"Hi! You're not supposed to be here."}

to just a blank page if someone does stumble onto my sync server?

[2021-01-26 14:26] dgraziotin opened #171 "Bug: mysql environment variables are not populated in docker-compose.yml"
These environment variables:
[code]
are populated only when adding ```env_file: .env```before them. Otherwise they are empty and the database will not be accessed.

[2021-01-26 15:12] dgraziotin commented on #171
Actually, not. Sorry! But the current docker-compose.yml is broken.

[2021-01-26 15:12] #171 closed

[2021-01-26 22:18] miroesli opened #172 ""Unknown Error" when connecting to raspberry pi syncing-server"
# Syncing Server Unknown Error
When trying to connect to the server, it will pop-up with “Unknown Error”.
## Requirements
-	Raspberry pi running on Raspbian
-	Architecture: Armv7 / armhf
-	Raspberry Pi already setup with pi-hole using lighttpd web server
## Setup Process
Below is what steps I did to achieve the “Unknown Error” and what else I tried.
### Raspberry Pi Docker with Configured `.env` f

[2021-01-27 00:01] valantur opened #173 "More permissive reauthorization timeout"
Can you please let us configure a way to prevent the syncing server from requiring authorization so often?

I like leaving my notes opened on my Mac all day and since updating the server to the latest version I noticed that I need to re-enter my credentials 6-7 times a day. I understand the security aspect here, but having to type my email and a really hard to guess password this many times is ver

[2021-01-27 10:37] JaspalSuri commented on #171
Hi @dgraziotin,

Can you elaborate a bit more on this and when it fails to work as expected?

[2021-01-27 10:50] JaspalSuri commented on #173
Hi @valantur,

Please proceed with the following recommendation by @karolsojko:

[2021-01-27 11:55] karolsojko commented on #173
This might also help: https://github.com/standardnotes/syncing-server/issues/143#issuecomment-737763083

[2021-01-27 14:38] dgraziotin commented on #171
Hi @JaspalSuri, actually my bad. Lots of permission issues when building/running this as root. Switching to a non-root user makes this run perfectly fine!

[2021-01-27 16:52] mobitar commented on #172
Are you using the web app or desktop app to sign into your server? Our official web app requires a HTTPS domain, so you should try the desktop app, then also open the Network inspector (via Chromium dev tools) in the app to see what it's reporting.

[2021-01-27 17:01] valantur commented on #173
Hi guys thanks for getting back to me.

The thing is that I'm not using Docker at all (I can't run Docker on this server). I'm cloning and compiling when I see a new release pushed out. Everything is running on a debian LXC virtual machine.

Also, my .env already has `RAILS_ENV=production` in it, and it used to work just fine until I re-compiled and updated the server about a week ago.

Any other

[2021-01-27 21:06] miroesli commented on #172
@mobitar Yep, seems that was the case! Was able to login fine on the desktop app. I do have a couple questions though:

1. how would I setup HTTPS without NGINX? I tried following the [documentation on securing your HTTP trafic](https://docs.standardnotes.org/self-hosting/https-support), but my pihole server hosts its webserver on port 80. Additionally, replacing pihole's lighttpd webserver with N

[2021-01-27 21:40] twocoolbeans commented on #148
To clarify, am advocating for the option to limit and delete revision history.

[2021-01-28 11:13] JaspalSuri commented on #171
I'm glad to hear that! Thanks for letting us know. 😃

[2021-01-30 09:12] kushfest commented on #167
Thanks for this answer. I'd love to make the move back to the 'latest' tag, but I'm getting the same error I originally posted about when I try to do that. If I go back to the dev branch things seem to go back to functional. Any suggestions on how to migrate back? I tried cloning the git repo fresh and updating the .env file, but I'm having that same issue where it just never gets past migrating d

[2021-01-30 20:21] joekerna opened #174 "Docker container can't connect to MySQL"
I've set up a MySQL server

[code]

with a database `std_notes_db`

[code]

and a user `std_notes_user`

[code]

The `.env` file is the sample except for the parameters `RAILS_ENV=production` and `DB_PASSWORD=MY_CHANGED_PASSWORD`

However, when running

`docker run -d -p 3000:3000 --env-file=.env standardnotes/syncing-server`

...the container stopps after a few seconds.

The docker log says:

[co

[2021-01-31 12:30] joekerna commented on #174
I found the solution in #142

The option `--net host` has to be added to the `docker run` command

`docker run -d -p 3000:3000 --net host --env-file=.env standardnotes/syncing-server`

[2021-01-31 12:30] #174 closed

[2021-02-01 08:52] BobWs opened #175 "[Question] How can I see or check if Redis is working?"
Hi,
I was wondering how can I see or check if Redis is working with Syncing-server?

[2021-02-02 07:28] karolsojko commented on #175
Are you running your setup with `docker-compose` ? If yes you can run commands like `docker-compose ps` to see the services running or `docker-compose logs -f` to monitor logs on the services

[2021-02-02 14:18] BobWs commented on #175
No I'm not running with docker-compose. I used Cli to install Standardnotes, and I'm using Portainer for monitoring and maintenance. So how can I see if Redis is working with Standardnotes?
The Redis container is running fine as far as I can see.

[2021-02-02 14:34] mobitar commented on #172
Not sure about number 2. Would need more info. Make sure your ENV is set to production and not development.

[2021-02-02 19:06] valantur commented on #173
Could you at least tell me if I wouldn't have to re-authorize my clients every few hours if I start using your Docker image?

[2021-02-03 09:06] karolsojko commented on #175
what do you have in mind by "is working with standardnotes" in particular?

[2021-02-03 09:07] karolsojko commented on #173
Well, we use Docker images on production and development setup so that's the only way to ensure you are running on the same environment as we do. It should work without having to log in every few hours if the env vars are properly set up.

[2021-02-04 12:26] BobWs commented on #175
Well as I understand it redis works like a cache for Standardnotes. So this means that in the database of redis there should build the data. The file has to keep increasing in size at time as you use standardnotes with redis, thus I don't see this happening. I also don't see anything else in the logs of redis that indicates that it works with standardnotes.

Or am I seeing it wrong?

[2021-02-04 13:19] karolsojko commented on #175
Redis is used for temporarily caching data - like ephemeral sessions, login lock-outs etc

This data has a TTL so purges itself after a while. It's not stored in a permanent fashion.

We use it in a few new features now so you might even not be using those at all

[2021-02-05 10:45] nr458h commented on #132
Sorry I'm not able to get it working

When I enter no folder it works fine but when I enter like suggested
files/standardnotes
Into the last formular field I get an error in the desktop app

Do I have to look into anythink special in recards of ' characters or something else
I'm not able to get something from the error messages

[2021-02-05 13:02] Tonbery7 commented on #132
Hey there,

i tested it again with my setup and it still works as described.

So just to make sure:

- When you don't add the folder "files/standardnotes", you can successfully attach files?
- Does the folder "standardnotes" already exist on your Nextcloud? Because it has to be an existing folder.
- Also "files/" targets the root folder of your Nextcloud, which means your folder "standardnotes" sh

[2021-02-05 18:46] nr458h commented on #132
Yes

Yes

The only thing I realise now you always put a " " arround the folder location:
I wrote files/standardnotes
But do I need to put
"files/standardnotes" into the formular field?

Thanks for the quick reply!

[2021-02-07 16:46] Tonbery7 commented on #132
No, the quotation marks are only for readability.

It's odd...you do seem to do everything right, so it should work.
I'm not sure how to help you without any kind of error-message that could give me a hint.

Alternatively. if you have your own Nextcloud-Server, you could create a separate account (just for standard-notes) and let it save the attachments in the root folder. It's not a perfect solut

[2021-02-08 11:01] nr458h commented on #132
Thanks for your help I found the issue.

For me it is not working with the serveradress mentioned above. I used the link provided by Nextcloud
https://your.domain.tls/remote.php/dav/files/username

And added only the folder
{Your folder/Subdirectory}

[2021-02-09 03:25] ryanbutterfield commented on #173
I am experiencing the same issue since I upgraded my previous docker image to the newly suggested `standardnotes/syncing-server:latest`.

Thus I don't believe moving to the docker images will solve @valantur 's issue as it happens with me also.

The reauthentication dialogs appear on both the desktop and mobile apps. Every hour or so.

Before the upgrade I only ever had to authenticate once and ne

[2021-02-09 08:55] karolsojko commented on #173
@ryanbutterfield what value of `RAILS_ENV` do you have in your running setup?

[2021-02-09 23:15] ryanbutterfield commented on #173
@karolsojko It was `development`, but I changed it to `production` and it's still occuring. Note that it's not defined in your `docker-compose.yml` and seems to default to `development`. Regardless, that doesn't seem to be the cause of the issue.

[2021-02-09 23:32] valantur commented on #173
@ryanbutterfield I ended up fixing the issue by manually adding `-e production` my init.d service file. In other words, newer versions of the syncing server do not seem to read the RAILS_ENV variable properly. At least that's my experience because it all started when I updated the server. I hope this helps.

[2021-02-10 03:38] ryanbutterfield commented on #173
Update: `RAILS_ENV` to `production` fixes the issue on docker. Not sure how it ever got set to `development` unless it's the default, or was an old default?

[2021-02-11 08:45] karolsojko commented on #173
it is the default value and it's fetched from the env file:  https://github.com/standardnotes/syncing-server/blob/develop/.env.sample#L12

[2021-02-11 08:46] karolsojko commented on #173
Closing this. Feel free to reopne if needed

[2021-02-11 08:46] #173 closed

[2021-02-11 14:09] karolsojko commented on #175
I hope this helps to understand the setup. Closing the issue - please reopen if needed

[2021-02-11 14:09] #175 closed

[2021-02-20 06:54] devgrips commented on #164
I'm having the same issue. I've tried the solution from @dgraziotin but now it's giving an error for /syncing-server/tmp/cache directory with the same message. @va1entin were you able to fix it?

[2021-02-20 07:57] dgraziotin commented on #164
@devgrips are you by chance running the container as root? I found out it was the real issue, related to all those permission errors and [others](https://github.com/standardnotes/syncing-server/issues/171#issuecomment-768329489) I thought I had.

[2021-02-21 20:54] devgrips opened #177 "MySQL Access Denied for User Error"
I'm trying to start the app from compose file, however, it keeps restarting during data migration step with the error that MySQL can't access the std_notes_user. Here are the logs of syncing_app container:

[code]

**My .env file:**

[code]

**My compose file:**

[code]

I already changed the DB_HOST to "db" and tried the solution in #20 but when I run volume rm command I get this output:

`Error:

[2021-02-23 06:51] SomaticFanatic opened #179 "My iOS app keeps asking me for a password"
Hello. I’m taking notes via self hosting the syncing-server so let me know if maybe there’s a setting in here I can adjust.

Love Standard Notes but the iOS app I use to connect to my syncing server keeps prompting me for its password if I don't keep it open, and since it’s an app the password manager I use has no URL to use to autofind it, so I have to tediously search for the password every time

[2021-02-23 06:59] karolsojko commented on #177
Our Docker docs are outdated and we're currently in the process of making a new infra setup which will come with a new set of docs.

If you don't have any data yet (which can be removed) you can try running the following:
[code]

[2021-02-23 10:43] JaspalSuri commented on #179
Hi @SomaticFanatic,

Sorry to hear that. Please see this [comment](https://github.com/standardnotes/syncing-server/issues/143#issuecomment-737763083) for information on how to resolve this issue, and please let us know if you have any additional questions.

[2021-02-23 14:38] SomaticFanatic commented on #179
I already use the RAILS_ENV:production variable. How do I switch to syncing-server:stable? Currently I’m just git cloning the repo and docker-compose up -d after setting up the yml and .env files.

[2021-02-23 18:51] SomaticFanatic commented on #179
Ok I set the RAILS_ENV variable correctly and now it works. Thank you!

[2021-02-23 18:51] #179 closed

[2021-02-24 09:32] JaspalSuri commented on #179
Hi @SomaticFanatic,

I'm sorry that I wasn't there to answer your question earlier; I'm glad that you were able to figure it out! On Karol's behalf, you're very welcome. :)

[2021-02-25 07:22] karolsojko commented on #164
This might be related to #99

After talking to @standarius we are considering to revert the mentioned PR above until a proper fix is applied that will allow linux Docker users to run it without "permissions denied" issues.

[2021-02-25 07:24] karolsojko commented on #177
Closing this one - @devgrips feel free to reopen if the mentioned solution did not help.

[2021-02-25 07:24] #177 closed

[2021-02-26 18:12] #164 closed

[2021-02-26 19:12] #170 closed

[2021-02-27 15:44] omail opened #182 "Install Standard Notes on cPanel/WHM (CentOS 7)"
I installed docker and docker compose on cPanel CentOS 7, but when I try to add the commands to the Terminal, nothing happens. I think these commands _https://docs.standardnotes.org/self-hosting/docker/_ are for Ubuntu not for Cent OS. 
Is there a tutorial explaining how to install Standard Notes on cPanel/Centos7 with Docker?
Thank you.

[2021-03-01 03:55] netstx commented on #172
I essentially had the same issue as @miroesli when following instructions from https://docs.standardnotes.org/self-hosting/docker/

[2021-03-01 08:31] karolsojko commented on #172
Unfortunately, those docs are outdated and we're working on new infra and updating those docs as we speak.

We plan to update the self-hosting docs for Docker in the future to help provide a more seamless setup experience for everyone. Please follow our repo changes for updates.

[2021-03-01 13:47] netstx commented on #172
Thanks for the update @karolsojko - I spent a couple of hours trying to get the syncing server running on docker, to see if I could find the issue, and no luck, otherwise I'd share some news here. The web app docker ran just fine. I will keep an eye out, thank you.

[2021-03-01 14:40] karolsojko commented on #172
@netstx we've updated our setup Today - can you update your local code to the latest and check the updated README to see if that works for you?

[2021-03-01 14:56] netstx commented on #172
@karolsojko I cloned the master branch, ran the server.sh commands and everything came up. When trying to register, I get the following message: Your credentials are needed to refresh your session with the server. Then after entering the username and password I just created, I get "Update Recommended. The encryption version for your account is outdated...". I use these brand new credentials and ge

[2021-03-01 14:58] netstx commented on #172
Here are some additional logs:

[code]

[2021-03-01 15:15] karolsojko commented on #172
hmm might be related to #28

I'll try to add one more command to the `server.sh` for cleaning up data. Might have to do with some previously initialised stuff.

[2021-03-01 15:16] netstx commented on #172
Sounds good, thank you. Let me know if you'd like me to test anything else, I'd be happy to do it.

[2021-03-01 16:07] karolsojko commented on #172
@netstx please update your code if you can and try doing `./server.sh cleanup` and then starting it once again. Let me know how it goes

[2021-03-01 16:13] karolsojko commented on #172
Also keep in mind: I assumed you don’t have any pre-existing data so you are ok with wiping your data clean.

[2021-03-01 16:19] netstx commented on #172
Looks like I am having the same issue, although the logs look a bit different.

[code]

Just to make sure, in the desktop app dvanced options (sync server domain) I am just adding "http://IP:3000". I verified it's reachable and get that "you're not supposed to be here" message.

[2021-03-02 08:38] karolsojko commented on #172
@netstx this error actually gets us closer, so it's good - it should be fixed now so please update your code and try again if you can.

As for the http setup - you should be fine with what you have :)

[2021-03-02 09:04] cherya commented on #172
@karolsojko  I'm had absolutely the same issue and your fix is worked for me!
But now I can't login to my server – generating login keys step is stuck (I am already tried mac os app and android app, and tried to restart and cleanup server)
<img width="243" alt="Screenshot 2021-03-02 at 12 04 01" src="https://user-images.githubusercontent.com/3810684/109624540-61e59200-7b4f-11eb-935f-8102570adb85.p

[2021-03-02 10:20] karolsojko commented on #172
@cherya thanks for the help - I've applied another [fix](https://github.com/standardnotes/api-gateway/commit/4a468d65c27c228e3dd6b149fedde0b10d798946). Can you try updating your code and doing `./server.sh update` afterwards ?

should fix that issue now

[2021-03-02 10:39] cherya commented on #172
@karolsojko after `./server.sh update` it seems to work like a charm! Thank you 👍

[2021-03-02 10:53] karolsojko commented on #172
@miroesli @netstx can you confirm this works for you as well?

[2021-03-02 12:37] JaspalSuri commented on #182
Hi @omail, I'm afraid there currently isn't a tutorial available for that setup. Please let me know if you have any additional questions.

[2021-03-02 13:10] netstx commented on #172
@karolsojko I ran git pull, server cleanup then server update and start. Was able to register a new account using the desktop app. It's working now, thanks! Do you think it's "safe" to use it in production or should we keep testing it for a while still?

[2021-03-02 14:34] karolsojko commented on #172
Although we're undergoing an infrastructure change we are taking all the precautions to make users satisfied. Your data and security is our highest priority :)

[2021-03-02 14:34] karolsojko commented on #172
Closing this one in that case - feel free to reopen if the issue persists.

[2021-03-02 14:34] #172 closed

[2021-03-02 14:39] netstx commented on #172
Thanks @karolsojko - appreciate all the help!

[2021-03-02 17:40] netstx commented on #172
@karolsojko I wiped my original setup and started fresh since I plan on using it in production. I did git clone, server setup, server start and then server logs show the following:

[code]

This is something that didn't happen earlier, any thoughts?

[2021-03-03 02:15] miroesli commented on #172
@karolsojko Just tested with a fresh syncing-server. When following the setup as in the [README.md](https://github.com/standardnotes/syncing-server) I ended up having the following error after attempting to run `sudo ./server.sh start`.

[code]

I tried to run `sudo ./server.sh update` which pulled some images but then resulted in the following while pulling from library/mysql.

[code]

Here is th

[2021-03-03 17:58] scottwernervt commented on #132
This setup worked for me using Hetzner's hosted NextCloud:
1. NextCloud Instance > User > Settings > Security
2. At bottom of page click **Create new app password** button
3. Standard Notes > New Integration > WebDAV
	* Server: `https://NXSERVER.your-storageshare.de/remote.php/dav/files/USERNAME/`
	* User: `USERNAME`
	* Password `APP-PASSWORD`
	* Directory: `PATH-TO_DIR` e.g. `apps/standard-notes/

[2021-03-19 18:12] irfanarif-ia opened #185 "Raspberry Pi 4; Getting an sql for armf error when following tutorial i even tried tobi321:rpi-mariadb it says the server is starting"

[2021-03-22 07:38] karolsojko commented on #185
Rails has a delayed logs buffer flush so `server is starting` is actually ok - give a moment and it should be up and running

can you verify that?

[2021-03-25 13:08] sparklyballs opened #186 "Syncing server does not build, mimemagic version error"
when trying to build the docker images locally a new error has cropped up that prevents completion of the build.

[code]

I assume that it is related to this line in the gemfile.lock

https://github.com/standardnotes/syncing-server/blob/develop/Gemfile.lock#L135

[2021-03-26 00:58] YesDrX commented on #186
to fix:
1. change mimemagic version in Gemfile.lock
    mimemagic (0.3.8)
      nokogiri (~> 1)
      rake (>= 0)
2. add shared-mime-info in Dockerfile before Run gen
    e.g.
    RUN apk --no-cache shared-mime-info
    RUN gem install bundler && bundle install

    note that shared-mime-info is dual licensed under the GNU-LGPL and AFL v2.0.

[2021-03-26 15:03] giacco commented on #186
I had the same problem .
After chang mimemagic version in Gemfile.lock and installed shared-mime-info , I have successfully build the docker images.
Anyway it refused to start,

the server log says:
 ...
api-gateway_1               | nc: bad address 'syncing-server'
api-gateway_1               | syncing-server:3000 is unavailable - sleeping
syncing-server-js-worker_1  | syncing-server-js:3000 is u

[2021-03-29 07:37] Svarto commented on #186
Same initial problem here. Fixed and got it all running with the below, as previously posted. Please note, @YesDrX  small typo in one of the commands, should be `RUN apk add --no-cache shared-mime-info`. I fixed it below.

@giacco it takes time until the DB is up. Also, depending on your settings some services seem to just quit if you haven't configured them. Ignore those logs and wait, after awhi

[2021-03-30 05:28] PhoneMechanic commented on #186
I keep getting this error after versions in Gemfile.lock...  Your lockfile is unreadable. Run `rm Gemfile.lock` and then `bundle install` to
generate a new lockfile.
The command '/bin/sh -c gem install bundler && bundle install' returned a non-zero code: 20
ERROR: Service 'syncing-server' failed to build

[2021-03-30 09:11] karolsojko commented on #186
To add some context to the discussion: https://www.theregister.com/2021/03/29/rails_mime_fix/

In the light of the above we'll be updating the syncing server to use Rails `5.2.5`

[2021-03-30 10:33] sparklyballs commented on #186
What a mess....
Licensing is such a minefield

[2021-03-30 12:15] karolsojko commented on #186
Fixed in https://github.com/standardnotes/syncing-server/commit/7acb912e1149144bf23930c269882198cffc7282

new Docker images published

[2021-03-30 12:15] #186 closed

[2021-03-31 19:01] irfanarif-ia commented on #185
its up and running, but still doesn't no port mapping on docker please check the image attached ![image](https://user-images.githubusercontent.com/80979972/113196652-6bf0d280-926c-11eb-88fa-c14acb51b1ee.jpeg)

Container Log

see where a bundled gem is installed.

Prestart Step 3/4 - Migrating database

Prestart Step 4/4 - Seeding database

Starting Server...

=> Booting Puma

=> Rails 5.2.5 applic

[2021-04-04 23:28] stakism-io opened #188 "Unable to run on Ubuntu server 18 using docker"
After following all steps closely and configuring all `.env` files from root folder and `docker` folder, I'm still not able to run syncing server on my own host. It just waits for `syncing-server-js` for eternity.

Fresh ubuntu 18 LTS server install with docker.

Let me know if you need any more details, thanks.

<img width="952" alt="Screenshot 2021-04-05 at 01 28 00" src="https://user-images.git

[2021-04-05 01:26] JaspalSuri commented on #188
Hi @stakism-io, Sorry to hear that. I've assigned this issue for our backend dev to review when they get the chance to. 🙂

[2021-04-05 10:16] karolsojko commented on #188
@stakism-io - can you send us what the logs from the `db` service say? I think it didn't start properly - thus all other services are waiting for it to go start

[2021-04-05 16:37] accountForIssues opened #189 "[Request] Better document docker-compose solutions"
First off, thank you so much for developing an open source e2e encrypted solution for notes.

I would love to self host this but the current method is confusing and a lack of documentation means I can't write my own compose files (easily and without a lot of trial and error).

Moreover, someone who wants to self-host should fully know what's happening behind the scenes and not just depend on a sim

[2021-04-06 06:10] PhoneMechanic commented on #188
Having the same issue...

[2021-04-07 14:13] working-name opened #190 "ArgumentError upon registration request"
I followed https://docs.standardnotes.org/self-hosting/ec2-nginx which I imagine is outdated. Initially I bumped into that error while running `db:migrate` and realized I needed to downgrade rails from 3.0 in order to work. Now given the way this is set up with sudo in between and so on, I imagine the issue is being consistent with the version of rails you install for both the user and root? Unfor

[2021-04-08 04:04] JaspalSuri commented on #189
Hi @accountForIssues,

Thanks for the detailed feedback! Overhauling the self-hosting docs is on our roadmap and your feedback will help mold them. 🙂

[2021-04-08 06:02] PhoneMechanic commented on #188
Got it to work afterall...

[2021-04-08 06:45] JaspalSuri commented on #188
That's great to hear, @PhoneMechanic! Was there anything in particular that you noticed doing that helped resolve the issue?

[2021-04-08 07:02] JaspalSuri commented on #190
Hi @working-name, sorry to hear that. I just wanted to let you know that overhauling the docs is on our todo list. The dev team is also making progress towards refactoring the server-side code in a shift away from Ruby on Rails to JavaScript/TypeScript.

[2021-04-08 15:39] PhoneMechanic commented on #188
I actually deleted my vm and started over... This time I didn't install docker with snap.. that might have made the difference..

[2021-04-10 00:08] griefie commented on #185
I have a similar issue on a raspberry pi 4b. Since mysql isnt available, i switched to tobi's mariadb and when i start the containers 4 of them decide not to play:

[code]

they all have the same error:
[code]
are the images maybe wrong?

[2021-04-10 08:45] JaspalSuri commented on #188
Thanks for taking the time to that, @PhoneMechanic. Another user reported having issues with Docker's Snap so it's possible that's what was causing the issues you were experiencing. Please keep us informed of any new issues with the new setup if they arise. 🙂

[2021-04-11 09:12] jonhadfield opened #191 "HTML response for forbidden API call"
When making an API call that results in an HTTP 403 response, HTML is returned:
[code]

Shouldn't this be JSON?

[2021-04-11 19:08] working-name commented on #190
Dropping this, not worth the effort.

[2021-04-11 19:08] #190 closed

[2021-04-13 02:02] JaspalSuri commented on #190
I'm sorry to hear that. 😒 I can reach out to you once the updated docs are available, if you'd like.

[2021-04-13 05:22] working-name commented on #190
So sorry, should have been more complete in my phrasing. I am dropping figuring out how to get this running standalone in Ruby. I’m running it in a docker container right now, so far so good 😊

Thank you!

[2021-04-13 06:14] JaspalSuri commented on #190
That's great to hear! Thank you for clarifying. 😀

You're very welcome! 🙂

[2021-04-13 07:42] JaspalSuri commented on #191
Hi @johnny243, thanks for bringing this to our attention; I've passed this along to the dev team for further review. 🙂

[2021-04-13 12:24] jonhadfield commented on #191
I often get emails with "Hi Jo**h**n," but this is my first one on GitHub 🙂

[2021-04-15 07:35] badrow opened #192 "PayloadTooLargeError: request entity too large When restoring a backup"
I'm trying to upload my standardnotes backup (1800 notes approximately, some big notes) and I get an unknown syncing error from the client.
The server log is showing this :

[code]

Notes : The server is correctly working when I create a simple new note and I don't try to import my backup.

Any idea please ?

[2021-04-15 08:09] JaspalSuri commented on #192
Hi @badrow, we're aware of this issue and it's on our todo list. I will reach out to you when a fix is available.

[2021-04-15 08:27] karolsojko commented on #192
Closing as duplicate of https://github.com/standardnotes/forum/issues/1281

[2021-04-15 08:27] #192 closed

[2021-04-19 12:04] MalteKiefer commented on #177
Can you please add these steps to the README.md? Looking for 30 minutes to fix this bug.

[2021-04-23 10:03] mind-overflow opened #193 "Add documentation for Env files"
It took me a good two hours to figure this out.

When using docker, editing the `.env` file in the root directory is not sufficient.
For example, if you decide to use a database password that is different than `changeme123`, you need to also update it in:
- `docker/auth.env`
- `docker/syncing-server-js.env`

Also, there are multiple secret keys all around env files, which I have absolutely no clue

[2021-04-23 13:03] mind-overflow opened #194 "Reverse Proxy does not work"
## Context
Hello,
I have tried setting up a self-hosted instance of syncing-server.
I followed your instructions, which are pretty straightforward:
- clone the repo
- run the setup script
- start the server

Since this instance is in a remote server, I have no way to test it by browsing to `http://localhost:3000/`.
What I did instead, was to create an Apache2 reverse proxy. I tried it both with an

[2021-04-23 17:08] karolsojko commented on #193
@mind-overflow we are in the process of replacing Ruby based Syncing Server into a TS/JS based one. Withing the following days/weeks we should do the switch and put in a documentation that will make it easy to self-host our new setup.

Sorry for the current inconvenience and we hope you bare with us as we make this huge step forward :)

[2021-04-23 17:38] mind-overflow commented on #193
This sounds awesome. Of course, I totally understand the inconvenience, and I look forward to the new version. I have also opened another issue about reverse proxies - do you believe it won't be a problem anymore, given the drastic changes to the codebase?

I'm a new user and the first self-hosting impact was not a spectacular one (due to the current transitioning state of the project), but I tota

[2021-04-24 08:27] JaspalSuri commented on #193
Sorry to hear that. I've made a [PR based on your suggestion](https://github.com/standardnotes/syncing-server/pull/195). Thanks for the feedback!

(@karolsojko will answer the question about reverse proxies 🙂)

[2021-04-24 08:45] mind-overflow commented on #193
Awesome. Thank you so much! Wish you a great day :)

[2021-04-24 22:42] JaspalSuri commented on #193
You're very welcome! Thank you, you too! Have a great weekend 🙂

[2021-04-26 07:36] karolsojko commented on #194
Hmm not sure why the use of Apache in here. Maybe change the env files to run the docker setup not at port 3000 but 80 so that you can acess your remote host directly?

[2021-04-26 18:26] mind-overflow commented on #194
The use of Apache is mandatory, because it is the webserver for that machine. It is handling multiple websited and subdomains, while syncing-server is running in a docker container. So, Apache is running as a reverse proxy, tunneling traffic to the docker container, and thus, running the container directly on port 80/443 is not possible as it would conflict with Apache and block access to all the

[2021-05-01 03:13] zcyph opened #197 "Automate backing up Standard Notes database"
Hello,

After figuring out my issue with deleting users that I posted about on [Reddit](https://www.reddit.com/r/StandardNotes/comments/n1xw8q/administering_a_self_hosted_standard_notes/), it was suggested that I start a thread over here about my other question which was how to go about backing up the Standard Notes database. I hope that's ok!

As I expand my self hosting journey, I'm getting into

[2021-05-03 13:10] mobitar commented on #197
I believe that that DB would be persistent at that same location, but @karolsojko would know best here.

[2021-05-03 20:56] jonhadfield opened #198 "Sync calls receiving SF|Extension items without 004 encryption applied"
When making sync calls to the API, I'm receiving a number of SF|Extension type items without items_key_id.
Are these not encrypted?

`{"uuid":"0d099660-e7d6-460e-8a93-9f386e7ef6be","duplicate_of":null,"items_key_id":null,"content":"000eyJuYW1lIjoiT25lRHJpdmUg....WRfYXQiOiIyMDIxLTA0LTA3VDEyOjM0OjQzLjU5OFoifX19","content_type":"SF|Extension","enc_item_key":null,"auth_hash":null,"created_at":"2021-04

[2021-05-04 04:12] karolsojko commented on #197
We are sorry for the inconvenience. To give some more context we are in the midst of switching to a new syncing server and the documentation is pending. So hopefully we'll have that in place and it will be a much smoother process to setup.

If you are using docker-compose we recommend using the one we provide. As you can see there are many more services that are required in the setup than just Syn

[2021-05-04 06:12] zcyph commented on #197
Not at all, while not a developer myself I have an inkling as to the amount of work involved, so I'm very thankful. I'm a huge fan of projects that find a way to balance monetization while staying true to the spirit of free & open source (almost sounds like an oxymoron).

I did try following the official steps but sadly could never get them working. After comparing the setup i managed to cobble to

[2021-05-04 07:39] karolsojko commented on #197
Thanks for sharing this :) will close the issue as it is resolved. Please feel free to reopen if needed.

[2021-05-04 07:39] #197 closed

[2021-05-04 15:52] mobitar commented on #198
SF|Extension are server items that are not meant to be encrypted (this is what the "000" prefix signifies). They apply to both SF|Extension and SF|MFA. The "SF" prefix is also reserved for server-side extensions.

However these two extensions will be replaced by native settings on the server side instead in upcoming server releases.

[2021-05-04 17:52] jonhadfield commented on #198
Makes sense. Thanks for the explanation.

[2021-05-05 04:07] davterra opened #199 "gem / mimemagic errors trying to install on Yunohost"
I'm trying to install syncing-server on Yunohost. Each time, the install seems to break down around the gem/mimemagic build process. Here is a relevant snippet from the install log:

2021-05-04 19:45:56,131: DEBUG - Installing activerecord 5.2.4.4
2021-05-04 19:45:57,425: DEBUG - Fetching mimemagic 0.3.8
2021-05-04 19:45:57,533: DEBUG - Installing mimemagic 0.3.8 with native extensions
2021-05-04

[2021-05-06 11:35] JaspalSuri commented on #199
Hi @davterra, sorry to hear that. We're in the process of transitioning away from Ruby and Ruby on Rails to JavaScript(& TypeScript) and will update the setup docs afterwards. I can reach out to you when that is completed if you'd like. 🙂

[2021-05-06 14:51] davterra commented on #199
Ok, thanks. I appreciate your offer. Is there a build on Github that I can install in a server away from Yunohost that is currently working?

[2021-05-10 15:51] sahilkamra4 opened #200 "Not found on localhost:3000, Registration not working"
When i followed. the instructions and clean setup a new. sync server. Localhost:3000. returns not found localhost:3000/healthcheck returns okay. After adding the url to sync server. Registration fails with unknown error and  the logs show: Econn refused to connect Internal server error.

![image](https://user-images.githubusercontent.com/45107856/117687664-a20f6380-b1d5-11eb-8e22-3741959710ff.png)

[2021-05-11 07:21] karolsojko commented on #200
Hi,

we're sorry for the inconvenience but we are in the midst of switching to a new syncing-server based on JS/TypeScript and deprecating this Syncing Server.

Currently we believe it might be a matter of very short time before we deprecate this repository in favour of the new Syncing Server.

Please bare with us in this milestone of a moment. I believe the issue will be solved in the new Syncing

[2021-05-14 10:22] MichiFr opened #201 "Too many messages logs, source is unknown"
Hi!

Just noticed that my dockerized sync server as well as the SN web server, is spamming the message log with many entries like those.

Here the source is the SN web server:
![grafik](https://user-images.githubusercontent.com/28045390/118256915-50edc100-b4ae-11eb-85eb-6cc2b1716afc.png)

The source is the sync server:
![grafik](https://user-images.githubusercontent.com/28045390/118257090-84c8e680

[2021-05-14 10:33] JaspalSuri commented on #199
Hi @davterra, I'm sorry for the late response; I somehow missed your reply. There currently isn't, but feel free to [watch this repo](https://github.com/standardnotes/syncing-server-js) for updates, particularly when the documentation is ready.

[2021-05-14 10:41] MichiFr commented on #201
Replying myself: I've found out why this happens every 5s. The source is HAProxy - reverse proxy.
I'm running HAproxy that is checking if both servers are reachable and routes any trraffic to the servers if so. HAProxy will drop any connection attempt otherwise.

I can change this interval to a higher value, neverthelesse it would be interesting why the attempt ( GET HEAD / ) is logged anyway.
Gue

[2021-05-14 13:04] davterra commented on #199
No problem, and I will watch that repo. Thanks!

[2021-05-14 14:01] karolsojko commented on #168
We have a new documentation out. Please give a try and re-check if it helps with your issue: https://docs.standardnotes.org/self-hosting/getting-started/

[2021-05-14 14:01] karolsojko commented on #188
We have a new documentation out. Please give a try and re-check if it helps with your issue: https://docs.standardnotes.org/self-hosting/getting-started/

[2021-05-14 14:01] karolsojko commented on #189
We have a new documentation out. Please give a try and re-check if it helps with your issue: https://docs.standardnotes.org/self-hosting/getting-started/

[2021-05-14 14:01] karolsojko commented on #194
We have a new documentation out. Please give a try and re-check if it helps with your issue: https://docs.standardnotes.org/self-hosting/getting-started/

[2021-05-15 07:40] MichiFr commented on #201
Today I can report, issue is resolved!

[2021-05-15 07:40] #201 closed

[2021-05-17 07:17] karolsojko commented on #199
@davterra you can find the new docs at: https://docs.standardnotes.org/self-hosting/getting-started/

[2021-05-17 11:24] accountForIssues commented on #189
@karolsojko

Thanks for listening to the feedback and updating the self hosting docs. The new docs seem much cleaner, better and far less confusing than the previous setup.

A few suggestions that I can think of to improve the current docs:
1. Write about the different services and how they interact with each other so that anyone new to self-hosting/docker can understand what's happening. To start